﻿@{
    ViewData["Title"] = "About";
}
<h2>Why Xactli?</h2>
<div class="container">

    <p>My name is Paul Mckelvey.  I have been a general contractor for over 30 years.</p>

    <p>
        The biggest single difficulty I consistently encounter is clients making final finish material and fixture selections on time, meaning ahead of time, having those materials and fixtures on site and ready for installation before the installation crew needed them.
    </p>
    <p>
        Though the projects would require a set of building plans and permit the plans would rarely if ever contain a complete finish schedule.  Building codes specify how the house is built structurally, meaning what went in being the walls.  Finish selections are left to the owner.  As such the finish specifications are left off the plans decided later.
    </p>
    <p>
        Regardless of how organized and attentive the owner there always seemed to be something, often multiple things that we would have to wait for.  To accommodate missing material we would delay one thing and work on something else.  Temporary solution that would keep the crew working but would cost us $$ in lost efficiency.
    </p>
    <p>
        The worst is when the delay would stop that portion of the project and force the subcontractors to find other work only to be able to return when their schedule freed up again often well after the delayed material arrived.  Meaning the material delay exponentially compounded into a labor delay while trying to get the crew freed up to return.
    </p>
    <p>
        Sometimes delays came completely unexpected. Owners would make a selection that would have a longer lead time than anticipated.  Or sub contractors would not order things in time.  There always seemed to be some material related surprise, delay and disappointment.
    </p>
    <p>
        I knew the solution was in pre planning and organization.  Get out ahead of the project, identify all of the material selections that need to be made and make them ahead of time.  Though simple and obvious, that process always seemed to take a back seat to the more immediate daily fire drills that always seem to get in the way of properly planning ahead.
    </p>
    <p>
        After 30 years of experiencing this, along with finding out that most of the other general contractors I know consistently experience the same thing. I developed spec sheets.  Its sole purpose was to quickly identify and organize every finish material and fixture that needs selecting and getting it into the owners hands early.
    </p>
    <p>
        Also critical to the process was making the selection process easy for the owner.  There are literally thousands of choices available.  Where to start?  The internet has put all of it at our finger tips and it can be overwhelming.  That is why we have connected spec sheets with local material supply houses that can help with the process.  Not just one supply house but a hand full in each specialty to insure competitive pricing.  We have chosen the supply houses based on product knowledge and service and have avoided the supply houses that strictly sell on price.  With the hundreds of selections that have to be made and the dozens of potential options that each product type offers, it is very important to have knowledgable material sales personnel on our side.
    </p>
</div>
