﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

   

        <div class="post-container post-noborder">
            <div class="post-img" style="background: url(img/PaulMcKelvey2.jpg);"></div>
            <div class="post-content list-agent">
                <div class="heading-title">
                    <h2><span>Paul McKelvey</span></h2>
                </div>
                <div class="post-meta">
                    <span><i class="fa fa-envelope-o"></i>paul@mckelveyconstruction.net</span><br>
                    <span><i class="fa fa-phone"></i>949-413-3790</span>
                </div>
            </div>
        </div>
    <div class="post-container post-noborder">
        <div class="post-img" style="background: url(img/MarkSchwartz.jpg);"></div>
        <div class="post-content list-agent">
            <div class="heading-title">
                <h2><span>Mark Schwartz</span></h2>
            </div>
            <div class="post-meta">
                <span><i class="fa fa-envelope-o"></i>mark@sourcesystemsinc.com</span><br>
                <span><i class="fa fa-phone"></i>310-913-1110</span>
            </div>
        </div>
        </div>



