﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<!-- begin:header -->
<div id="header" class="header-slide">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				@if (!SignInManager.IsSignedIn(User))
				{
					<div class="quick-search">
						<div class="row">
							<form role="form">


								<div class="col-md-12 col-sm-12"><a asp-controller="Account" asp-action="Signup" class="btn btn-warning btn-lg btn-block">Get Started Now!</a></div>


							</form>
						</div>
					</div>
				}
				@if (SignInManager.IsSignedIn(User))
				{
					<div class="quick-search">
						<div class="row">
							<form role="form">


								<div class="col-md-12 col-sm-12"><a asp-controller="Projects" asp-action="Index" class="btn btn-warning btn-lg btn-block">Get Started Now!</a></div>


							</form>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<!-- end:header -->
<!-- begin:service -->
<div id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>
					Take control of your next project <small>
						Everything you need to quickly identify, organize and manage
						all of your finish materials and fixtures
					</small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-container">
					<div class="service-icon">
						<a><i class="fa fa-thumbs-up"></i></a>
					</div>
					<div class="service-content">
						<h3>Easier</h3>
						<p>
							Easy, Intuitive Input<br />
							Point - Click - Create
						</p>
					</div>
				</div>
			</div>
			<!-- break -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-container">
					<div class="service-icon">
						<a><i class="fa fa-fast-forward"></i></a>
					</div>
					<div class="service-content">
						<h3>Faster</h3>
						<p>
							Faster Results<br />
							Rapidly Identify All Locations, Trades &amp; Materials
						</p>
					</div>
				</div>
			</div>
			<!-- break -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-container">
					<div class="service-icon">
						<a><i class="fa fa-signal"></i></a>
					</div>
					<div class="service-content">
						<h3>Better</h3>
						<p>
							Better Organization<br />
							Easy to Read Reporting Designed for 3-Ring Binder Output
						</p>
					</div>
				</div>
			</div>
			<!-- break -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="service-container">
					<div class="service-icon">
						<a><i class="fa fa-money"></i></a>
					</div>
					<div class="service-content">
						<h3>Smarter</h3>
						<p>
							Save Time - Save Money
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:service -->
<!-- begin:content -->
<div id="content">
	<div class="container">
		<!-- begin:latest -->
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title">
					<h2>The process</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="property-container">
					<div class="property-image">
						<img src="~/img/create2.png" alt="Create Point and Click">


					</div>
					<div class="property-features">
						<span><b>Create </b><small></small></span>
					</div>
					<div class="property-content">
						<h3><a>Point. Click. Create.</a> <small></small></h3>
					</div>
				</div>
			</div>
			<!-- break -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="property-container">
					<div class="property-image">
						<img src="img/budget2.png" alt="Budget - Choose your Price Point">

					</div>
					<div class="property-features">
						<span><b>Budget</b><small></small></span>
					</div>
					<div class="property-content">
						<h3><a>Choose Price Point</a> <small></small></h3>
					</div>
				</div>
			</div>
			<!-- break -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="property-container">
					<div class="property-image">
						<img src="img/select2.png" alt="Select - Drag & Drop">

					</div>
					<div class="property-features">
						<span><b>Select</b><small></small></span>
					</div>
					<div class="property-content">
						<h3><a>Drag &amp; Drop</a> <small></small></h3>

					</div>
				</div>
			</div>
			<!-- break -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="property-container">
					<div class="property-image">
						<img src="img/execute.jpg" alt="Execute - Organize & Execute">

					</div>
					<div class="property-features">
						<span><b>Execute </b><small></small></span>
					</div>
					<div class="property-content">
						<h3><a>Organize &amp; Execute</a> <small></small></h3>
					</div>
				</div>
			</div>
			<!-- break -->
		</div>
		<!-- end:latest -->
		<!-- begin:for-rent -->
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title">
					<h2>The Right Product For You</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="property-container">
					<div class="property-content-list">
						<a href="/Account/ChoosePackage">
							<div class="property-image-list">
								<img src="img/homeowners.jpg" alt="homeowner">
								<div class="property-price">
									<span>Home Owners</span>
								</div>
								<div class="property-features">
									<span>One Location - Many Rooms</span>
								</div>
							</div>
						</a>
						<div class="property-text">
							<h3> <small></small></h3>
							<p>
								Whether its one room or the whole house, Spec Sheets organizes all the details you know about - and informs you on all the others!
							</p>
							<p>
								Let us help make your home what you want it to be!
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- break -->

			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="property-container">
					<div class="property-content-list">
						<a href="/Account/ChoosePackage">
							<div class="property-image-list">
								<img src="img/professional.jpg" alt="professional">
								<div class="property-price">
									<span>Professionals</span>
								</div>
								<div class="property-features">
									<span>Multiple Locations and Users</span>
								</div>
							</div>
						</a>
						<div class="property-text">
							<h3> <small></small></h3>
							<p>
								You have many locations... and clients, partners, sub-contractors, materials, and...
							</p>
							<p>
								Spec Sheets doesn't just help you organize, it helps you communicate - and that saves you time.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- break -->

		</div>
		<!-- end:for-rent -->
		<!-- begin:concierge -->
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title concierge-title">
					<h2><a class="heading-title-a" href="/Account/ChoosePackage">No Time?  Need Help Now?  The Concierge</a></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">


				<div class="property-features text-center">

					<p>
						<span>All you have to do is call.</span>
					</p>
					<p>
						<span>We input the information.</span>
					</p>
					<p>
						<span>We create the binder</span>
					</p>
					<p>
						<span>We help you with local suppliers</span>
					</p>

				</div>

			</div>
			<!-- break -->



		</div>
		<!-- end:concierge -->
	</div>
</div>
<!-- end:content -->
<!-- begin:testimony -->
<!-- Commented Out for now
<div id="testimony" style="background-image: url(img/img17.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div id="testislider" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">

						<div class="item active">
							<div class="testimony-container">
								<div class="testimony-image" style="background: url(img/team02.jpg)"></div>
								<div class="testimony-content">
									<h3>Jennifer Blakeslee</h3>
									<p>Design Consultant</p>
									<blockquote>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
										</p>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-container">
								<div class="testimony-image" style="background: url(img/team03.jpg)"></div>
								<div class="testimony-content">
									<h3>Rolly Pulaski</h3>
									<p>Achitect - AIA</p>
									<blockquote>
										<p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-container">
								<div class="testimony-image" style="background: url(img/team03.jpg)"></div>
								<div class="testimony-content">
									<h3>Sean Tabor</h3>
									<p>Home Owner</p>
									<blockquote>
										<p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-container">
								<div class="testimony-image" style="background: url(img/team03.jpg)"></div>
								<div class="testimony-content">
									<h3>Paul Fernandez</h3>
									<p>Interior Designer - ASID</p>
									<blockquote>
										<p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-container">
								<div class="testimony-image" style="background: url(img/team03.jpg)"></div>
								<div class="testimony-content">
									<h3>Peter Gevorkian</h3>
									<p>Custom Cabinet Maker</p>
									<blockquote>
										<p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
									</blockquote>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-container">
								<div class="testimony-image" style="background: url(img/team03.jpg)"></div>
								<div class="testimony-content">
									<h3>Eric Prochnow</h3>
									<p>World of Moulding</p>
									<blockquote>
										<p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#testislider" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#testislider" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>
	-->
<!-- end:testimony -->
<!-- begin:news -->
<div id="news">
	<div class="container">
		<div class="row">
			<!-- begin:blog -->
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<div class="col-md-12">
						<div class="heading-title heading-title-sm bg-white">
							<h2>Tutorials</h2>
						</div>
					</div>
				</div>
				<!-- break -->

				<div class="row">
					<div class="col-md-12">
						<div class="post-container post-noborder">
							<div class="post-img post-img-circle" style="background: url(img/img02.jpg);"></div>
							<div class="post-content">
								<div class="post-meta">
									<span><em>by</em> <a title="View all posts in berita utama" rel="category tag">For Homeowners</a></span>
									<span><em>Paul Mckelvey</em></span>
								</div>
								<div class="heading-title">
									<h2><a>Coming Soon</a></h2>
								</div>
							</div>
						</div>
						<!-- break -->

						<div class="post-container post-noborder">
							<div class="post-img post-img-circle" style="background: url(img/img03.jpg);"></div>
							<div class="post-content">
								<div class="post-meta">
									<span><em>by</em> <a title="View all posts in berita utama" rel="category tag">For Contractors</a></span>
									<span><em>Paul Mckelvey</em></span>
								</div>
								<div class="heading-title">
									<h2><a>Coming Soon</a></h2>
								</div>
							</div>
						</div>
						<!-- break -->
						<!-- break -->

					</div>
				</div>
				<!-- break -->

			</div>
			<!-- end:blog -->
			<!-- begin:popular -->
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<div class="col-md-12">
						<div class="heading-title heading-title-sm bg-white">
							<h2>Latest Projects</h2>
						</div>
					</div>
				</div>
				<!-- break -->

				<div class="row">
					<div class="col-md-12">
						<div class="post-container">
							<div class="post-img" style="background: url(img/img12.jpg);"><h3>Project</h3></div>
							<div class="post-content">
								<div class="post-meta">
									Sample Projects
								</div>
								<div class="heading-title">
									<h2><a>Coming Soon</a></h2>
								</div>
							</div>
						</div>
						<!-- break -->

						<div class="post-container">
							<div class="post-img" style="background: url(img/img13.jpg);"><h3>Project</h3></div>
							<div class="post-content">
								<div class="post-meta">
									Sample Projects
								</div>
								<div class="heading-title">
									<h2><a>Coming Soon</a></h2>
								</div>
							</div>
						</div>
						<!-- break -->
						<!-- break -->

					</div>
				</div>
				<!-- break -->

			</div>
			<!-- end:popular -->
			<!-- begin:agent -->
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<div class="col-md-12">
						<div class="heading-title heading-title-sm bg-white">
							<h2>Our Team</h2>
						</div>
					</div>
				</div>
				<!-- break -->

				<div class="row">
					<div class="col-md-12">

						<div class="post-container post-noborder">
							<div class="post-img" style="background: url(img/PaulMcKelvey2.jpg);"></div>
							<div class="post-content list-agent">
								<div class="heading-title">
									<h2><a>Paul McKelvey</a></h2>
								</div>
								<div class="post-meta">
									<span><i class="fa fa-envelope-o"></i>paul@mckelveyconstruction.net</span><br>
									<span><i class="fa fa-phone"></i>949-413-3790</span>
								</div>
							</div>
						</div>
						<!-- break -->

						<div class="post-container post-noborder">
							<div class="post-img" style="background: url(img/MarkSchwartz.jpg);"></div>
							<div class="post-content list-agent">
								<div class="heading-title">
									<h2><a>Mark Schwartz</a></h2>
								</div>
								<div class="post-meta">


								</div>
							</div>
						</div>
						<!-- break -->
						<!-- break -->

					</div>
				</div>
				<!-- break -->

			</div>
			<!-- end:agent -->
		</div>
	</div>
</div>
<!-- end:news -->
<!-- begin:subscribe -->
<div id="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2 col-sm-8 col-xs-12">
				<h3>Get Updates on our product</h3>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="Enter your mail">
					<span class="input-group-btn">
						<button class="btn btn-warning btn-lg" type="submit"><i class="fa fa-envelope"></i></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:subscribe -->
<!-- begin:partner -->
<div id="partner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title bg-white">
					<h2>Our Supply Partners</h2>
					<h3>Coming Soon</h3>
				</div>
			</div>
		</div>
		<!-- break -->

		<div class="row">
			<div class="col-md-12">
				<div class="jcarousel-wrapper">
					<div class="jcarousel">
						<ul>
							<li><a><img src="img/img01.jpg" alt="partner of SpecSheets"></a></li>
							<li><a><img src="img/img02.jpg" alt="partner of SpecSheets"></a></li>
							<li><a><img src="img/img03.jpg" alt="partner of SpecSheets"></a></li>
							<li><a><img src="img/img04.jpg" alt="partner of SpecSheets"></a></li>
							<li><a><img src="img/img05.jpg" alt="partner of SpecSheets"></a></li>
							<li><a><img src="img/img06.jpg" alt="partner of SpecSheets"></a></li>
						</ul>
					</div>
					<a href="#" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
					<a href="#" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
					<!-- <p class="jcarousel-pagination"></p> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:partner -->

@section Scripts {
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script src="js/gmap3.min.js"></script>
	<script src="js/jquery.easing.js"></script>
	<script src="js/jquery.jcarousel.min.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/jquery.backstretch.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/script.js"></script>
}