@model SpecSheetsCore.Controllers.HomeController

@{
    ViewData["Title"] = "ProductDetials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2>ProductDetials</h2>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label class="col-md-2 control-label">Manufacturer</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Item Name</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Item Model</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Finish</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Qty</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Cost</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Lead Time</label>
                <div class="col-md-10">
                    <input class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-2 control-label">Final Picture</label>
            <div class="col-md-10">
                <textarea cols="50" rows="8"></textarea>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-2 control-label">Plain Reference#</label>
            <div class="col-md-10">
                <textarea cols="50" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <textarea cols="50" rows="8"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
    </form>
