﻿@model SpecSheetsCore.Models.LoggedInViewModels.LocationViewModel

<div class="heading_sec clearfix">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <h2>@Model.location.LocationName</h2>
        </div>
        <div class="col-md-4 col-sm-4">
        </div>
    </div>
</div>

<div class="clearfix">
    <h3 class="heading_yellow pull-left">Project Info</h3>
</div>

@using (Html.BeginForm("Add", "Locations", FormMethod.Post, new { role = "form" }))
{
    @Html.HiddenFor(x => x.location.ProjectId)
    @Html.HiddenFor(x => x.location.LocationId)

    <div class="row form_fields">
        <div class="col-md-4 col-sm-4 form-group">
            <label>Type</label>
            @Html.DropDownListFor(m => m.location.TypeId, Model.LocationTypes, "", htmlAttributes: new { @class = "form-control actLocationType" })
        </div>
        <div class="col-md-4 col-sm-4 form-group">
            <label>Name</label>
            @Html.TextBoxFor(x => x.location.LocationName, new { @class = "form-control actLocationName" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 form-group">
            <button class="btn btn-primary actDisabled" type="submit">Submit</button>
            <button class="btn btn-default actDisabled actCancelEdit" type="button">Cancel</button>
        </div>
    </div>
                }

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('.actLocationType').on('change', function(){

                var locationType = $(".actLocationType option:selected").text() + " 1";
                $('.actLocationName').val(locationType);

            });

            $(".printProject").on('click', function () {

                var locationid = $(this).attr("locationid");
                var tradeId = $("#selectedTrade").val();

                if (tradeId == 0) {
                    $.getJSON('/Reports/LocationPageReport/' + locationid, '', function (location) {
                        LocationPageReport(location);
                    });
                }
                else {
                    $.getJSON('/Reports/LocationTradeReport/' + locationid + '?TradeId=' + tradeId, function (location) {
                        LocationPageReport(location);
                    });
                }
            });

            $(".actChooseTrade").on('click', function () {

                var liTrade = $(this);
                $('.actChooseTrade').each(function(i, element){

                    var $elem = $(element).removeClass('trade_selected');
                    $elem.find('.actMaterials').hide();
                });

                liTrade.addClass('trade_selected');
                liTrade.find('.actMaterials').show();
            });

            $('.actEdit').on('click', function () {

                var $control = $('.actLocationName');
                $control.removeClass('disabled');
                $control.removeAttr('disabled');

                $('.actDisabled').show();
            });

            $('.actCancelEdit').on('click', function () {

                var IsUpdate = @Model.location.LocationId > 0;

                if (IsUpdate) {

                    var $control = $('.actLocationName');
                    $control.addClass('disabled');
                    $control.attr('disabled', 'disabled');

                    $('.actDisabled').hide();
                }
                else {

                    window.location = '/Projects/Details/@Model.location.ProjectId';
                }
            });
        });
    </script>
}