﻿@model SpecSheetsCore.Models.LoggedInViewModels.LocationViewModel

@{
	var IsUpdate = Model.location.LocationId > 0;
	bool IsAllowedToEditProject = (Model.IsOwner || (Model.location.ProjectLocationTradeId == 0 && Model.location.PermissionLevel == 2));
}
<style>
	.accordionTradeDelete {
		position: absolute;
		right: 20px;
		top: 8px;
		font-size: 18px;
	}

	.panel-heading {
		position: relative;
	}

	#scrolly {
		width: 100%;
		height: 220px;
		overflow: auto;
		overflow-y: hidden;
		margin: 0 auto;
		white-space: nowrap
	}

	.dvNoteHistoryy {
		width: 100%;
		height: 300px;
		overflow: auto;
		overflow-x: hidden;
		margin: 0 auto;
		word-break: break-all;
	}

	/*#dvNoteHistory {
		width: 100%;
		height: 300px;
		overflow: auto;
		overflow-x: hidden;
		margin: 0 auto;
		word-break: break-all;
	}*/

	/*.noteHistory tr:nth-child(4n+1) {
		background: #fff3d0;
	}
	/*1st row*/
	/*.noteHistory tr:nth-child(4n+2) {
		background: #dcd8d8;
		 #fff6da
	}*/
	/*2nd row*/
	/*.noteHistory tr:nth-child(4n+3) {
		background: #fff6da;
	   #fffaec
	}*/
	/*3rd row*/
	/*.noteHistory tr:nth-child(4n+4) {
		background: #ede8e8;
			#fdf7ec
	}*/
	.noteHistory tr:nth-child(even) {
		background: #e2efda;
	}

	.noteHistory tr:nth-child(odd) {
		background: #b9dba1;
	}

	.noteHistory {
		margin-top: 6px;
	}

		.noteHistory tr td {
			font-size: 13px;
		}

			.noteHistory tr td strong {
				font-size: 15px;
				line-height: 25px;
			}

	.switch {
		position: relative;
		display: inline-block;
		width: 48px;
		height: 22px;
		margin-left: 10px;
		padding-top: 4px;
	}

		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

		.slider:before {
			position: absolute;
			content: "";
			height: 14px;
			width: 14px;
			left: 3px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

	input:checked + .slider {
		background-color: #4db54d;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #379437;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

		.slider.round:before {
			border-radius: 50%;
		}


	.imageBox {
		position: relative;
		width: 120px;
		overflow: hidden;
	}

		.imageBox img {
			display: block;
			width: auto;
			height: 120px;
		}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 20%;
		width: 100%;
		opacity: 0.7;
		background-color: #5cb85c;
	}

		.overlay div {
			color: white;
			font-size: 14px;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 1;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		}

	.popup-head {
		background: #fafafa;
		border-radius: 5px 5px 0px 0px;
		border-bottom: 1px solid #f2f2f2;
		padding: 15px;
	}

		.popup-head h4 {
			margin: 0px !important;
			text-align: left !important;
		}

	.modal-header {
		padding: 0px !important;
		border: 0px !important;
	}
</style>

<div class="heading_sec location-details clearfix">
	<div class="row">
		<div class="col-md-12 col-xs-12 breadcrumb-nav">
			<a class="breadcrumb-nav-anchor" href="~/Projects/Details/@Model.location.ProjectId">My projects</a>
			<span class="breadcrumb-slash"> / </span>
			<a class="breadcrumb-nav-current" href="/">@Model.location.LocationName</a>
		</div>
		<div class="col-md-12 col-xs-12">
			<h2 class="location-name">@Model.location.LocationName</h2>

			@if (Model.IsOwner)
			{
				<button class="btn btn-danger pull-right actDeleteProjectLocation" projectlocationid="@Model.location.LocationId">Delete Location</button>
			}
		</div>
	</div>
</div>

<div class="clearfix">
	<h3 class="heading_yellow pull-left">Location Info</h3>
</div>


<form id="formAddLocation" asp-action="Add" asp-controller="Locations" method="post" role="form">

	@Html.HiddenFor(x => x.location.ProjectId)
	@Html.HiddenFor(x => x.location.LocationId)

	<div class="row form_fields">
		<div class="col-md-4 col-sm-4 form-group">
			<label>Type</label>
			@Html.DropDownListFor(m => m.location.TypeId, Model.LocationTypes, "", htmlAttributes: new { @class = "form-control actLocationType", disabled = "disabled" })
		</div>

		<div class="col-md-4 col-sm-4 form-group">
			<label>Name</label>
			@Html.TextBoxFor(x => x.location.LocationName, new { @class = "form-control disabled actLocationName", disabled = "disabled" })
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 form-group">
		</div>
	</div>

</form>

<h3 class="heading_yellow">
	Trades
	@if (IsAllowedToEditProject)
	{
		<button type="button" class="btn btn-primary btn-edit actAddTradeModal" data-locationId="@Model.location.LocationId"><i class="fa fa-plus"></i></button>
	}

</h3>

<div id="dvsavemassage" style="margin :10px;">
	@{
		//var matid = {{material.MaterialId}};
		if (TempData["message"] != null)
		{
			if (TempData["message"].ToString() == "Please Upload Image")
			{
				<p style="padding-left:100px;color:red;">@TempData["Message"]</p>
			}
			else if (TempData["message"].ToString() == "Please Add Note")
			{
				<p style="padding-left:100px;color:red;">@TempData["Message"]</p>
			}
			else if (TempData["message"].ToString() == "Please select correct file format of image")
			{
				<p style="padding-left:100px;color:red;">@TempData["Message"]</p>
			}
			else
			{
				<p style="padding-left:100px;color:green;">@TempData["Message"]</p>
			}
		}
	}
</div>

@if (IsAllowedToEditProject)
{
	<div class="modal inmodal" id="TradeModal" tabindex="-1" role="dialog" aria-hidden="true" data-LocationTypeId="0">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">

				<form id="formAddProjectLocationTrade" role="form" asp-action="AddProjectLocationTrade" asp-controller="Projects">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Add Trade</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Trade:</label>
							<select id="ddlTrade" class="form-control" asp-for="@Model.trade.TradeId" asp-items="Model.Trades"></select>
							<input id="hdfLocationId" asp-for="@Model.location.LocationId" value="@Model.location.LocationId" type="hidden" />
							<input id="hdfLocationName" asp-for="@Model.location.LocationName" value="@Model.location.LocationName" type="hidden" />
						</div>
						<div class="form-group otherTrade" style="display: none;">
							<input id="txtTrade" asp-for="@Model.trade.Name" class="form-control" placeholder="Add new Trade" type="text" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-white actTradeModalCancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary actformAddProjectLocationTrade">Save changes</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}

@if (Model.location.LocationId > 0)
{
	@if (Model.location.Trades != null && Model.location.Trades.Count > 0)
	{
		<div class="panel-group trade_accordian" id="accordion" data-locationId="@Model.location.LocationId">

			@{
				// Iterator starting from 1
				var i = 1;
			}

			@foreach (var trade in Model.location.Trades)
			{
				// Used to maintain state of selected Trade on update
				bool IsSelectedTrade = (i == 1);
				bool IsMaterialExpand = true;
				bool IsAllowedToEditTrade = IsAllowedToEditProject || (trade.PermissionLevel > 1 && trade.TradeId == Model.location.ProjectLocationTradeId);

				<div class="panel panel-default panelTrade" data-tradeId="@trade.TradeId">
					<div class="panel-heading">
						<h4 class="panel-title">

							@if (IsAllowedToEditProject)
							{
								<button type="button" projectLocationTradeId="@trade.TradeId" LocationId="@Model.location.LocationId" class="accordionTradeDelete actDeleteProjectLocationTrade"><i class="fa fa-trash"></i></button>
							}

							<a class="@( IsSelectedTrade ? "" : "collapsed" )" data-toggle="collapse" data-parent="#accordion" href="#TradeId-@trade.TradeId">
								@trade.TradeName - @Model.location.LocationName<i class="fa fa-chevron-right trade-material-collapse"></i>
							</a>

						</h4>
					</div>
					<div id="TradeId-@trade.TradeId" class="panel-collapse collapse @( IsSelectedTrade ? " in" : "" )">
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table project-location-trade-table">
									<thead>
									<th class="trade-material" style="width:200px; min-width:200px;">
										Materials

										@if (IsAllowedToEditTrade)
										{
											<a class="btn btn-success plus_btn pull-right" href="#collapseAdd-@trade.TradeId" data-toggle="collapse" data-locationId="@Model.location.LocationId" data-tradeId="@trade.TradeId">
												<i class="fa fa-plus"></i>
											</a>
										}

									</th>
									<th style="width:150px;"></th>
									<th style="width: 50px;"></th>
									<th style="width:150px;"></th>
									<th style="width: 100px"></th>
									</thead>
									<tbody>

										@*New Material Collapse*@

										@if (IsAllowedToEditTrade)
										{
											<tr class="collapse" id="collapseAdd-@trade.TradeId">
												<td colspan="5">
													<div class="row">

														<form id="AddMaterial-@trade.TradeId" class="MaterialForm" role="form">

															<div class="modal-header col-md-12">
																<h4 class="modal-title">Add Material</h4>
															</div>
															<div class="clearfix" style="padding:15px 0;">
																<div class="col-md-4">
																	<div class="form-group materialFields">
																		<label>Material:</label>
																		<select id="ddlMaterial" class="form-control ddlMaterial" asp-for="@Model.material.MaterialId" asp-items="Model.Materials"></select>
																		<input id="hdfLocationId" class="hdfLocationId" asp-for="@Model.location.LocationId" value="@Model.location.LocationId" type="hidden" />
																		<input id="ProjectLocationTradeMaterialId" class="ProjectLocationTradeMaterialId" asp-for="@Model.material.ProjectLocationTradeMaterialId" type="hidden" />
																		<input id="hdfTradeId" class="hdfTradeId" asp-for="@Model.trade.TradeId" value="@trade.TradeId" type="hidden" />
																		<input id="txtMaterial" class="form-control otherMaterial txtMaterial" asp-for="@Model.material.Name" style="display: none;" placeholder="Add new Material" type="text" />
																		<input id="hdfIsNew" name="material.IsNew" value="true" type="hidden" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Cost:</label>
																		<input id="txtCost" class="form-control txtCost" asp-for="@Model.material.Cost" type="text" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Qty:</label>
																		<input id="txtQty" class="form-control txtQty" asp-for="@Model.material.Quantity" type="text" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Plan Reference #:</label>
																		<input id="txtPlanReference" class="form-control txtPlanReference" asp-for="@Model.material.PlanReference" type="text" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Manufacturer:</label>
																		<input id="txtManufacturer" class="form-control txtManufacturer" asp-for="@Model.material.Manufacturer" type="text" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Item/Model#:</label>
																		<input id="txtModel" class="form-control txtModel" asp-for="@Model.material.Model" type="text" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Finish:</label>
																		<input id="txtFinish" class="form-control txtFinish" asp-for="@Model.material.Finish" type="text" />
																	</div>
																</div>

																<div class="col-md-4">

																	<div class="form-group">

																		<label>Lead Time:</label>
																		<input id="txtLeadTime" class="form-control txtLeadTime" asp-for="@Model.material.LeadTime" type="text" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Description:</label>
																		<textarea id="txtDescription" class="form-control txtDescription" asp-for="@Model.material.Description"></textarea>
																	</div>
																</div>
															</div>
															<div class="modal-footer col-md-12" style="clear:both;">
																@*<a href="#collapseAdd-@trade.TradeId" data-toggle="collapse" class="btn btn-default">Cancel</a>
																	<button type="button" class="btn btn-primary actformAddProjectLocationTradeMaterial">Save changes</button>*@
															</div>

														</form>

													</div>
												</td>
											</tr>
										}


										@foreach (var material in trade.Materials)
										{
											<tr class="panelMaterial" data-ProjectLocationMaterialId="@material.ProjectLocationTradeMaterialId" projectId="@Model.location.ProjectId" tradeId="@trade.TradeId" materialId="@material.MaterialId">
												<td data-th="Materials">
													<div class="delete_heading">
														@material.MaterialName - @material.PlanReference
														<a href="#collapseEdit-@material.ProjectLocationTradeMaterialId" style="margin-left:6px;" class="actEditMaterial" materialid="@material.ProjectLocationTradeMaterialId" tradeId="@trade.TradeId" data-toggle="collapse">
															<i class="fa @( IsMaterialExpand ? "fa-minus-square-o" : "fa-caret-down" )"></i>
														</a>

														@if (IsAllowedToEditTrade)
														{
															<a href="#" style="margin-left:5px;" class="actDeleteProjectLocationTradeMaterial" projectLocationTradeMaterialId="@material.ProjectLocationTradeMaterialId"><i class="fa fa-trash"></i></a>}

														<a href="#" class="popup-images" materialid="@material.MaterialId" tradeId="@trade.TradeId">
															<i class="fa fa-picture-o"></i>
														</a>
													</div>
												</td>

												@{ var Disabled = IsAllowedToEditTrade ? "" : "disabled = \"disabled\"";
												}
												@*<td data-th="Cost"><input type="text" @Disabled class="form-control text-center actChange actCost" value="@material.Cost" placeholder="Cost" /></td>
													<td data-th="Quantity"><input type="text" @Disabled class="form-control text-center actChange actQuantity" value="@material.DefaultQuantity" /></td>
													<td data-th="Estimate"><input type="text" disabled="disabled" class="form-control text-center actChange actEstimate" value="@material.Estimate" /></td>
													<td class="show-images" projectId="@Model.location.ProjectId" tradeId="@trade.TradeId" materialId="@material.MaterialId">Click to see images</td>*@
											</tr>

											@*Material Edit*@

											<tr class="material-edit collapse @( IsMaterialExpand ? " in" : "" )" id="collapseEdit-@material.ProjectLocationTradeMaterialId">
												<td colspan="5">

													<div class="row materialFields">
														<div id="dvLoading-@material.ProjectLocationTradeMaterialId" style="display:none;margin-left:200px">
															<img src="~/img/ajax-loader.gif" alt="" />
														</div>
														<form method="POST" enctype="multipart/form-data" asp-controller="Projects" asp-action="AddImages" style="float: left; padding-left: 40px;">
															<br />
															@*<a class="bt-mi-submit btn" href="#showimgdv-@material.MaterialId" data-toggle="collapse" style="margin-left:150px;background-color:lightgray;text-decoration:none;color:black;">Images</a>*@
															<input class="bt-mi-submit btn" type="button" value="Images" id="showimgdv-@material.MaterialId" onclick="btnShowImage(@Model.location.ProjectId,@Model.location.LocationId,@trade.TradeId,@material.MaterialId);" style="margin-left:20px" />
															<br /><br />
															<div id="dvimage-@material.MaterialId" style="margin-left:20px;display:none;">
																<ul class="nav nav-tabs">
																	@*<li class="active"><a data-toggle="tab" href="#uploadImage-@material.MaterialId">Upload New Image</a></li>*@
																	<li class="searchterm"><h4 style="margin:0px 0px 10px 0px;">View/ Upload Images</h4></li>
																</ul>
																<div class="tab-content" style="width:100%;">
																	<input class="hidden-input" type="text" id="projectId" name="projectId" value="@Model.location.ProjectId" />
																	<input class="hidden-input" type="text" id="tradeId" name="tradeId" value="@trade.TradeId" />
																	<input class="hidden-input" type="text" id="materialId" name="materialId" value="@material.MaterialId" />
																	<input class="hidden-input" type="text" id="locationId" name="locationId" value="@Model.location.LocationId" />
																	<div id="existingImage-@material.MaterialId" class="tab-pane fade in active">
																	</div>



																</div>
															</div>

															<input class="bt-mi-submit btn" type="button" value="Communications" style="margin-left:20px" />
															<br /><br />
															<input class="bt-mi-submit btn" type="button" value="Qty & Budgets" style="margin-left:20px" />
															@*<div class="modal-header col-md-12">
																	<h4 class="modal-title">Edit Material</h4>
																</div>
																<div class="clearfix" style="padding:15px 0;">
																	<div class="col-md-4" style="display: none;">
																		<div class="form-group">
																			<label>Material:</label>
																			<select id="ddlMaterial" class="form-control ddlMaterial" disabled="disabled" asp-for="@Model.material.MaterialId" asp-items="Model.Materials"></select>
																			<input id="hdfLocationId" class="hdfLocationId" asp-for="@Model.location.LocationId" value="@Model.location.LocationId" type="hidden" />
																			<input id="ProjectLocationTradeMaterialId" class="ProjectLocationTradeMaterialId" asp-for="@Model.material.ProjectLocationTradeMaterialId" value="@material.ProjectLocationTradeMaterialId" type="hidden" />
																			<input id="hdfTradeId" class="hdfTradeId" asp-for="@Model.trade.TradeId" value="@trade.TradeId" type="hidden" />
																			<input id="txtMaterial" class="txtMaterial form-control otherMaterial" asp-for="@Model.material.Name" style="display: none;" placeholder="Add new Material" type="text" />
																			<input id="hdfIsNew" name="material.IsNew" value="false" type="hidden" />
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Plan Reference #:</label>
																			<input id="txtPlanReference" class="form-control txtPlanReference" @Disabled name="material.PlanReference" value="@material.PlanReference" type="text" />
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Manufacturer:</label>
																			<input id="txtManufacturer" class="form-control txtManufacturer" @Disabled name="material.Manufacturer" value="@material.Manufacturer" type="text"  />
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Item/Model#:</label>
																			<input id="txtModel" class="form-control txtModel" @Disabled name="material.Model" value="@material.Model" type="text" />
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Finish:</label>
																			<input id="txtFinish" class="form-control txtFinish" @Disabled name="material.Finish" value="@material.Finish" type="text" />
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">
																			<label>Lead Time:</label>
																			<input id="txtLeadTime" class="form-control txtLeadTime" @Disabled name="material.LeadTime" value="@material.LeadTime" type="text" />
																		</div>
																	</div>
																	<div class="col-md-4">

																		<div class="form-group">

																			<label>Description:</label>
																			<textarea id="txtDescription" class="form-control txtDescription" @Disabled name="material.Description">@Html.Raw(material.Description)</textarea>
																		</div>
																	</div>
																</div>*@
														</form>
													</div>
												</td>
											</tr>
											IsMaterialExpand = false;
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>i++;
			}

		</div>
	}
	else
	{
		<h4>No Trade/Material is associated with this Location Type.</h4>
		<p>Please contact your administrator</p>}
}
<div id="display-images" class="hidden-popup">
	<div class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></div>
	<h4>Material Images</h4>
</div>
<div id="material-image-popup" class="hidden-popup">
	<div class="close-popup"><i class="fa fa-times" aria-hidden="true"></i></div>
	@* Add images here *@
	<div class="add-image">
		<form method="post" enctype="multipart/form-data" asp-controller="Projects" asp-action="AddImages">
			<h4>Add Material Images</h4>
			<input type="file" name="Image" id="Image" accept="image/*;capture=camera" multiple />
			<div class="display-photo"></div>
			<input class="hidden-input" type="text" id="projectId" name="projectId" value="@Model.location.ProjectId" />
			<input class="hidden-input" type="text" id="tradeId" name="tradeId" />
			<input class="hidden-input" type="text" id="materialId" name="materialId" />
			<input class="hidden-input" type="text" id="locationId" name="locationId" value="@Model.location.LocationId" />
			<input class="bt-mi-submit btn btn-success" onclick="btnSubmit();" type="submit" value="Upload" />
		</form>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Edit Notes</h4>

			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Notes</h4>

				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>*@

<div class="modal fade" id="modalEditTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">




			</div>
			<div class="modal-bodyImage">

			</div>
		</div>
	</div>
</div>











@section Scripts{




	<script src="~/lib/bootstrap/dist/js/bootstrap-notify.min.js"></script>
	<script src="~/lib/handlebars/handlebars-v4.0.10.js"></script>
	@*<script src="~/js/chosen.jquery.js"></script>

		<link href="~/css/chosen.css" rel="stylesheet" />*@
	@*<script type="text/javascript" src="~/grabbable.js"></script>*@

	<script type="text/javascript">









        var inputId;
        var inputId1;
        var inputId2;
        function btnShowImage( projectIdexisting, locationIdexisting, tradeIdexisting, materialIdexisting) {
            debugger;
            //var id = clicked_id;
            //var id1 = id.split("-");
            //$("#dvimage-" + id1[1]).show();
            //$("#dvsavemassage").hide();

            $("#existingImage-" + materialIdexisting).empty();
            $("#existingImage-" + materialIdexisting).html('');
            $("#dvLoading-"+ materialIdexisting).show();
            var projectId = projectIdexisting;
            var tradeId = tradeIdexisting;
            var locationId = locationIdexisting;
            var materialId = materialIdexisting;
            var dataObj = {
                "projectId": Number(projectId),
                "locationId": Number(locationId),
                "tradeId": Number(tradeId),
                "materialId": Number(materialId)
            };

            $("#dvimage-" + materialIdexisting).show();
            $("#dvsavemassage").hide();
            $.ajax({
                url: '@Url.Action("GetImagesNotes", "Projects")',
                type: 'GET',
                data: dataObj,
                success: function (data) {
                    debugger;
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    $("#existingImage-" + materialIdexisting).empty();
                    var HTML = "";
                    HTML += "<div id='scrolly'>";
                    HTML += "<table width='70%'>";
                    HTML += "<tr>";
                    for (var i = 0; i < jsonArray.length; i++) {
                        HTML += "<td>";
                        HTML += "<div style='border:6px solid #dddddd;text-align:center;margin:10px 5px;border-radius:6px;'><table>";
                        if (jsonArray[i].finalSelection == true) {
                            if (jsonArray[i].image !== null) {
                                HTML += "<tr><td width='30%' style='text-align:center'><div class='imageBox'>" + '<img align="center" src="data:image/jpg;base64,' + jsonArray[i].image + '" onclick = "FullViewImage(\'' + jsonArray[i].id + '\',\'' + jsonArray[i].image + '\',\'' + [i + 1] + '\',\'' + jsonArray[i].aspNetUsersId + '\',\'' + jsonArray[i].projectId + '\' ,\'' + jsonArray[i].tradeId + '\',\'' + jsonArray[i].materialId + '\',\'' + jsonArray[i].locationName + '\',\'' + jsonArray[i].tradeName + '\',\'' + jsonArray[i].materialName + '\',\'' + jsonArray[i].finalSelection + '\',\'' + jsonArray[i].isFinal + '\');" id="' + jsonArray[i].id + '"/>' + "<div class='overlay'><div><span class='glyphicon glyphicon-ok-sign'></span> Final Selection</div></div ></div></td></tr>";

                            }
                            //HTML += "<tr><td style='text-align:center;color:green;'>Final Selection</td></tr>";
                        }
                        else {
                            if (jsonArray[i].image !== null) {
                                HTML += "<tr><td width='30%' style='text-align:center'><div class='imageBox'>" + '<img align="center" src="data:image/jpg;base64,' + jsonArray[i].image + '" onclick = "FullViewImage(\'' + jsonArray[i].id + '\',\'' + jsonArray[i].image + '\',\'' + [i + 1] + '\',\'' + jsonArray[i].aspNetUsersId + '\',\'' + jsonArray[i].projectId + '\' ,\'' + jsonArray[i].tradeId + '\',\'' + jsonArray[i].materialId + '\',\'' + jsonArray[i].locationName + '\',\'' + jsonArray[i].tradeName + '\',\'' + jsonArray[i].materialName + '\',\'' + jsonArray[i].finalSelection + '\',\'' + jsonArray[i].isFinal + '\');" id="' + jsonArray[i].id + '"/>' + "</div></td></tr>";

                        }
                            HTML += "<tr><td style='text-align:center;color:green;'> </td></tr>";
                        }

                        HTML += "<tr><td style='background: #dddddd;padding: 9px 0px 5px 0px;font-size: 16px;'>Image-" + [i+1] + "</td>";
                        HTML += "</tr>";
                        // we remove the view note button
                        //HTML += "<tr>";
                        //HTML += '<td width="100%" style="padding-top:5px;text-align:center"><button class="bt-mi btn" type="button" style = "width:100%" onclick = "ViewNotes(\'' + jsonArray[i].id + '\',\'' + jsonArray[i].aspNetUsersId + '\',\'' + jsonArray[i].image + '\')" id="'+ jsonArray[i].id + '">View Note</button></td>';
                        //HTML += "</tr>";
                        HTML += "</table></div>";
                        HTML += "</td>";
                    }
                    HTML += "<td>";
                    HTML += "<div style='border: 1px dashed gray;text-align: center;padding:9px 12px;margin: 3px 0px 0px 5px;border-radius: 6px;'><table>";
                    HTML += "<tr><td style='text-align:center'> <span style='margin-left: 10px;' class='pull-left'>*</span><input type='file' name='Image' id='Image-'" + materialIdexisting + "' accept='image/png,image/jpeg,image/gif' style='margin-left:5px' /><img id='displayImage-'" + materialId + "' src='#' style='height:0px;width:0px;margin-left:5px;visibility:hidden' /></td></tr>";
                    HTML += "<tr><td><input type='text' class = 'form-control' id = 'notes' placeholder='Add Note' name='note1' value = ''></td></tr>"

                    HTML += "<tr><td width='100%'><input class='btn btn-xs btn-primary'   type='submit' value='Upload' style='margin-top:10px' /></td>";
                    HTML += "</tr > ";
                    HTML += "</div></table>";
                    HTML += "</td>";

                    HTML += "</tr>";
                    HTML += "</table>";
                    HTML += "</div>";
                    $("#existingImage-" + materialIdexisting).append(HTML);
                    $("#dvLoading-" + materialIdexisting).hide();
                }

            });
        }
        function btnInputImage(clicked_id) {
            var inputIdnew = clicked_id;
            inputId1 = inputIdnew.split("-");
           // alert(inputIdnew);
            inputId2 = inputId1[1];
            console.log(inputId2);
            console.log(inputId1[1]);
        }

        var input = document.querySelector('input[type=file]');
        input.onchange = function () {
            var file = input.files;
            //file[0].id
            if (file[0].type === "image/jpeg" || file[0].type === "image/png" || file[0].type === "image/jpg") {
                $("#displayImage-" + inputId2).hide();
                // upload(file);
                if (file.length > 1) {
                    for (var i = 0; i < file.length; i++) {
                        displayAsImage(file[i]);
                    }
                } else {
                    displayAsImage(file[0]);
                }
            }
            else {
                return false;
            }
            //displayAsImage(file);
        };


        //function drawOnCanvas(file) {
        //    var reader = new FileReader();

        //    reader.onload = function (e) {
        //        var dataURL = e.target.result,
        //            c = document.createElement('canvas'),
        //            ctx = c.getContext('2d'),
        //            img = new Image();

        //        img.onload = function () {
        //            c.width = img.width;
        //            c.height = img.height;
        //            ctx.drawImage(img, 0, 0);
        //        };

        //        img.src = dataURL;
        //        document.querySelector('.display-photo').appendChild(c);
        //    };
        //    reader.readAsDataURL(file);
        //}
        function displayAsImage(file) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#displayImage -" + inputId2).attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).ready(function () {
            $("#dvsavemassage").show("slow").delay(2000).hide("slow");

            //$('#chkFinal').change( function () {
            //    debugger;
            //    var Id = this.value;
            //        if ($(this).is(':checked')) {
            //            $.ajax({
            //                type: "POST",
            //                url: "/Projects/UpdateFinalSelection",
            //                data: { Id: Id, FinalSelection: true },
            //                dataType: "json",
            //                success: function (data) {
            //                    console.log(data);
            //                    if (data === true)
            //                        location = location.href;
            //                    else
            //                        location = location.href;
            //                }
            //            });
            //        }
            //});

            @*var mdMarerial = '@Html.Raw(Json.Serialize(Model))';
           // alert(mdMarerial['materials']);
            var mat = mdMarerial.materialid;
            console.log(mdMarerial['materials']);
            console.log(mdMarerial);
            $("#showimgdv_" + mat).click(function () {
                $("#dvimage_" + mat).show();
                $("#dvsavemassage_" + mat).hide();
            });*@

        });

        //Function for Save Note with Images created by Jeet Bhandari on 13-Nov-2018
        function btnSubmit() {
            var notes = $("#notes").val();
            if (naotes == null) {
                alert('Please add notes');
            }
        }

        //Function for Update Note with Images created by Jeet Bhandari on 22-Nov-2018
        function btnUpdateNotes(Id, aspNetUsersId) {
            $("#EditMsg").show();
            $.ajax({
                type: "POST",
                url: "/Projects/UpdateNotes",
                data: { id: Id, notes: $("#txtNotes").val(), aspNetUsersId: aspNetUsersId },
                dataType: "json",
                success: function (data) {
                   // console.log(data);
                    if (data === true)
                        location = location.href;
                    else
                        location = location.href;
                }

            });
            $('#myModal').modal('hide');
        }

        function btnUpdateNotesFullImage(Id, aspNetUsersId) {
            //console.log(aspNetUsersId);
            $("#EditMsg").show();
            $.ajax({
                type: "POST",
                url: "/Projects/UpdateNotes",
                data: { id: Id, notes: $("#txtNotesFullImage").val(), aspNetUsersId: aspNetUsersId },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data === true)
                        location = location.href;
                    else
                        location = location.href;
                }
            });
            $('#EditMsg').show();
            $('#myModal').modal('hide');

        }

        //Funtion for View Notes created by Jeet Bhandari on 16-Nov-2018
        function ViewNotes(Id, aspNetUsersId)
        {
            var Notes;
            $.ajax({
                type: "POST",
                url: "/Projects/NotesById",
                data: { id: Id},
                dataType: "json",
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    for (var i = 0; i < jsonArray.length; i++)
                    {
                        Notes = jsonArray[i].notes;
                        $("#myModal .modal-body").html('<div class="form-group"><span id="EditMsg" style="visibility:hidden">Notes Updated Successfully</span><br/><input class="form-control" type="text" id="txtNotes" value="' + Notes + '"></input></div>');
                        $("#myModal .modal-footer").html('<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button><button type ="button" class= "btn btn-primary" onclick="btnUpdateNotes(\'' + Id + '\',\'' + aspNetUsersId + '\');"> Save changes</button>');
                        $('#myModal').modal('show');
                    }
                }
            });


        }

        function EditNotes(Id, Notes) {
            //$('#dvEditNotes').show();
        }

        var isFinalCheck;
        //Function for View full Image
        function FullViewImage(Id, Image, ImgSerialNumber, aspNetUsersId,projectId,tradeId,materialId,locationName,tradeName,materialName,finalSelection,isFinal) {
            tagSelectName = [];
            tagSelectId = [];
            locationSelectName = [];
            locationSelectId = [];
            //console.log(aspNetUsersId);
            //$("#dvSelectedTags").empty();I remove it to display even when open for first time
            $('#dvLoading-' + materialId).show();
            //$("#dvNoteHistory").empty();
            var locat =@Html.Raw(Json.Serialize(@Model.location.LocationName));
            var trad = tradeName;
            var mat = materialName;
            isFinalCheck = isFinal;
            var Notes;
            $.ajax({
                type: "POST",
                url: "/Projects/NotesById",
                data: { id: Id },
                dataType: "json",
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));

                    if (finalSelection == 'true' && isFinal=='true') {
                        for (var i = 0; i < jsonArray.length; i++) {
                            Notes = jsonArray[i].notes;
                            $("#modalEditTag .modal-header").html('<div class="popup-head"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4>Image-' + ImgSerialNumber + '</h4><div>');
                            //$("#modalEditTag .modal-bodyImage").html('<img style="width:100%;text-align:center;padding:20px" src="data:image/jpg;base64,' + Image + '" /><div class="row form_fields"> <div class="col-md-2 col-sm-2 form-group" style="margin:0px 18px;"><button type="button" class="btn btn-default btn-xs" id="editTag" onclick="btnLTMTag();">Edit Tag</button></div></div><div class="row form_fields"><div id="dvEditTag" class="col-md-12 col-sm-12" style="display:none; margin: 10px 15px;"><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlLocationsBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesMaterialBind"  class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"><button type="button" class="btn btn-xs btn-primary " onclick="btnSaveTags(\'' + Id + '\');"  id="' + Id + '">Add</div></div></div><div id="dvSelectedTags" style=" margin:0px 18px;"></div><br /><div id="dvSelectedTagsBind"> </div><br/><div class="row form_fields" style="margin:0px 18px;">Final Selection<label class="switch"><input id="chkFinal" name="chkFinalSelect" type="checkbox" value="' + Id + '" checked ><span class="slider round"></span></label></div> <br/><div id="accordion1">    <div class="panel">        <button type="button" href="#dvEditNotes" data-parent="#accordion1" data-toggle="collapse" class="btn btn-default btn-xs pull-right" style="margin:0px 18px;" id="' + Id + '">Edit Note</button><div  class="panel-collapse collapse" id="dvEditNotes">            <span id="EditMsg" style="display:none;color:green">Notes Updated Successfully</span><div class="col-md-12"><input class="form-control pull-left" type="text" id="txtNotesFullImage" value="' + Notes + '"> <button type="button" class="btn btn-xs btn-primary pull-left" onclick="btnUpdateNotesFullImage(\'' + Id + '\',\'' + aspNetUsersId + '\');">Save changes</button> </div>       </div>        <div id="dvNoteHistory" class="panel" style="padding:0px 18px;"></div>   </div></div>');

                            $("#modalEditTag .modal-bodyImage").html('<img style="width:100%;text-align:center;padding:20px" src="data:image/jpg;base64,' + Image + '" /><div class="row form_fields"> <div class="col-md-2 col-sm-2 form-group" style="margin:10px 18px;"><button type="button" class="btn btn-default btn-xs" id="editTag" onclick="btnLTMTag();">Edit Tag</button></div></div><div class="row form_fields"><div id="dvEditTag" class="col-md-12 col-sm-12" style="display:none; margin: 10px 15px;"><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlLocationsBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesMaterialBind"  class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"><button type="button" class="btn btn-xs btn-primary " onclick="btnSaveTags(\'' + Id + '\');"  id="' + Id + '">Add</div></div></div><div id="dvSelectedTags" style=" margin:0px 18px;"></div><br /><div id="dvSelectedTagsBind"> </div><br/><div class="row form_fields" style="margin:0px 18px;">Final Selection<label class="switch"><input id="chkFinal" name="chkFinalSelect" type="checkbox" value="' + Id + '" checked ><span class="slider round"></span></label></div> <br/><div id="accordion1">    <div>        <button type="button" href="#dvEditNotes" data-parent="#accordion1" data-toggle="collapse" class="btn btn-default btn-xs pull-right" style="margin:10px 18px;" id="' + Id + '">Edit Note</button>                <div id="dvEditNotes" class="panel-collapse collapse">            <span id="EditMsg" style="display:none;color:green">Notes Updated Successfully</span><input class="form-control" style="width:94% ;margin:0px 18px;" type="text" id="txtNotesFullImage" value="">  <button type="button"  class="btn btn-xs btn-primary pull-left" style="margin:10px 18px;"  onclick="btnUpdateNotesFullImage(\'' + Id + '\',\'' + aspNetUsersId + '\');">Save changes</button></div>       </div>        <div id="dvNoteHistory" class="panel" style="padding:0px 18px; overflow:auto;width: 100%;"></div>    </div></div>');

                            $('#modalEditTag').modal('show');
                        }
                        btnGetNoteHistory(Id);
                        btnBindTagsByImageId(Id);
                    }

                    else if (finalSelection == 'false' && isFinal == 'true') {
                        for (var i = 0; i < jsonArray.length; i++) {
                            Notes = jsonArray[i].notes;
                            $("#modalEditTag .modal-header").html('<div class="popup-head"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4>Image-' + ImgSerialNumber + '</h4><div>');

                            $("#modalEditTag .modal-bodyImage").html('<img style="width:100%;text-align:center;padding:20px" src="data:image/jpg;base64,' + Image + '" /><div class="row form_fields"> <div class="col-md-2 col-sm-2 form-group" style="margin:0px 18px;">        <button type="button" class="btn btn-default btn-xs" id="editTag" onclick="btnLTMTag();">Edit Tag</button>    </div> </div> <br /><div class="row form_fields"><div id="dvEditTag" class="col-md-12 col-sm-12" style="display:none; margin: 10px 15px;"><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlLocationsBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesMaterialBind"  class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"><button type="button" class="btn btn-xs btn-primary " onclick="btnSaveTags(\'' + Id + '\');"  id="' + Id + '">Add</div></div></div><div id="dvSelectedTags" style=" margin:0px 18px;"></div><br /><div id="dvSelectedTagsBind"> </div><br/><div class="row form_fields" style="margin:0px 18px;"> Final Selection<label class="switch"><input id="chkFinal" name="chkFinalSelect" type="checkbox" value="' + Id + '"  disabled><span class="slider round"></span></label></div> <br/><div id="accordion1">    <div class="panel">        <button type="button" href="#dvEditNotes" data-parent="#accordion1" data-toggle="collapse" class="btn btn-default btn-xs pull-right" style="margin:10px 18px;" id="' + Id + '">Edit Note</button><div class="panel-collapse collapse" id="dvEditNotes">            <span id="EditMsg" style="display:none;color:green">Notes Updated Successfully</span><br /> <input class="form-control" style="width:94% ;margin:0px 18px;" type="text" id="txtNotesFullImage" value=""><button type="button" class="btn btn-xs btn-primary pull-left" style="margin:10px 18px;" onclick="btnUpdateNotesFullImage(\'' + Id + '\',\'' + aspNetUsersId + '\');">Save changes</button> </div> <div id="dvNoteHistory" class="panel" style="padding:0px 18px;overflow:auto;width: 100%;"></div>   </div></div>');

                            $('#modalEditTag').modal('show');
                        }
                        btnGetNoteHistory(Id);
                        btnBindTagsByImageId(Id);
                    }

                    else {
                        // console.log(jsonArray);
                        for (var i = 0; i < jsonArray.length; i++) {
                            Notes = jsonArray[i].notes;
                            $("#modalEditTag .modal-header").html('<div class="popup-head"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4>Image-' + ImgSerialNumber + '</h4><div>');
                            $("#modalEditTag .modal-bodyImage").html('<img style="width:100%;text-align:center;padding:20px" src="data:image/jpg;base64,' + Image + '" /><div class="row form_fields"> <div class="col-md-2 col-sm-2 form-group" style="margin:0px 18px;">        <button type="button" class="btn btn-default btn-xs" id="editTag" onclick="btnLTMTag();">Edit Tag</button>    </div> </div> <br /><div class="row form_fields"><div id="dvEditTag" class="col-md-12 col-sm-12" style="display:none; margin: 10px 15px;"><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlLocationsBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesMaterialBind"  class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"><button type="button" class="btn btn-xs btn-primary " onclick="btnSaveTags(\'' + Id + '\');"  id="' + Id + '">Add</div></div></div><div id="dvSelectedTags" style=" margin:0px 18px;"></div><br /><div id="dvSelectedTagsBind"> </div><br/><div class="row form_fields" style="margin:0px 18px;"> Final Selection<label class="switch"><input id="chkFinal" name="chkFinalSelect" type="checkbox" value="' + Id + '"  ><span class="slider round"></span></label></div> <br/><div id="accordion1">    <div class="panel">        <button type="button" href="#dvEditNotes" data-parent="#accordion1" data-toggle="collapse" class="btn btn-default btn-xs pull-right" style="margin:10px 18px;" id="' + Id + '">Edit Note</button><div class="panel-collapse collapse" id="dvEditNotes">            <span id="EditMsg" style="display:none;color:green">Notes Updated Successfully</span><br /> <input class="form-control" style="width:94% ;margin:0px 18px;" type="text" id="txtNotesFullImage" value=""><button type="button" class="btn btn-xs btn-primary pull-left" style="margin:10px 18px;" onclick="btnUpdateNotesFullImage(\'' + Id + '\',\'' + aspNetUsersId + '\');">Save changes</button> </div> <div id="dvNoteHistory" class="panel" style="padding:0px 18px;overflow:auto;width: 100%;"></div>   </div></div>');

                            //$("#modalEditTag .modal-bodyImage").html('<img style="width:100%;text-align:center;padding:20px" src="data:image/jpg;base64,' + Image + '" /><div class="row form_fields"> <div class="col-md-2 col-sm-2 form-group" style="margin:0px 18px;">        <button type="button" class="btn btn-default btn-xs" id="editTag" onclick="btnLTMTag();">Edit Tag</button>    </div> </div> <br /><div class="row form_fields"><div id="dvEditTag" class="col-md-12 col-sm-12" style="display:none; margin: 10px 15px;"><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlLocationsBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesBind" class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"> <select id="ddlTradesMaterialBind"  class="form-control" ></select></div><div class="col-md-3 col-sm-3" style="padding:0px 3px !important;"><button type="button" class="btn btn-xs btn-primary " onclick="btnSaveTags(\'' + Id + '\');"  id="' + Id + '">Add</div></div></div><div id="dvSelectedTags" style=" margin:0px 18px;"></div><br /><div id="dvSelectedTagsBind"> </div><br/><div class="row form_fields" style="margin:0px 18px;">Final Selection<label class="switch"><input id="chkFinal" name="chkFinalSelect" type="checkbox" value="' + Id + '"  ><span class="slider round"></span></label></div><br/><div id="accordion1">    <div class="panel">        <button type="button" href="#dvEditNotes" data-parent="#accordion1" data-toggle="collapse" class="btn btn-default btn-xs pull-right" style="margin:10px 18px;" id="' + Id + '">Edit Note</button><div class="panel-collapse collapse" id="dvEditNotes">            <span id="EditMsg" style="display:none;color:green">Notes Updated Successfully</span><br /><input class="form-control" style="width:94% ;margin:0px 18px;" type="text" id="txtNotesFullImage" value=""><button type="button" class="btn btn-xs btn-primary" style="margin:10px 18px;" onclick="btnUpdateNotesFullImage(\'' + Id + '\',\'' + aspNetUsersId + '\');">Save changes</button></div> <div id="dvNoteHistory" class="panel" style="padding:0px 18px;overflow:auto;width: 100%;"> </div>   </div></div>');

                            $('#modalEditTag').modal('show');
                        }
                        btnGetNoteHistory(Id);
                        btnBindTagsByImageId(Id);
                    }
                }
            });
            $('#dvLoading-' + materialId).hide();
        }







        function btnLTMTag() {
            debugger;
            $("#dvEditTag").show();
            $('#ddlLocationsBind').empty();
           // $("#dvLocations").show();
            var Id = $("#projectId").val();
             $.ajax({
                url: '@Url.Action("GetLocationByProjectId", "Locations")',
                 type: 'GET',
                 data: { Id: Id },
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    if (jsonArray.length > 0) {
                        for (var i = 0; i < jsonArray.length; i++) {
                            $('#ddlLocationsBind').append('<option value="' + jsonArray[i].locationId + '">' +
                                jsonArray[i].locationName + '</option>');
                        }
                        $("#ddlLocationsBind").prepend("<option value='0' selected='selected'>Select Location</option>");
                    }
                }
            });
        }



        $(document).on('change', '#ddlLocationsBind', function () {
            debugger;
            var Id = this.value;
            var LocationName = $("#ddlLocationsBind option:selected").text();
            $('#ddlTradesBind').empty();
            $("#dvSaveImageTag").show();
           // var Id = $("#locationId").val();
          //var Lname=  @Html.Raw(Json.Serialize(@Model.location.LocationName));
           // alert(@Model.location.LocationName).;
           // var Name =(@Model.location.LocationName)
            //alert(Name);
             $.ajax({
                url: '@Url.Action("GetTradesByLocationId", "Locations")',
                 type: 'GET',
                 data: { Id: Id },
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    $('#ddlTradesBind').empty();
                    $('#ddlTradesMaterialBind').empty();
                    $("#dvSelectedTagsBind").empty();
                    if (jsonArray.length > 0) {
                        for (var i = 0; i < jsonArray.length; i++) {
                            $('#ddlTradesBind').append('<option value="' + jsonArray[i].tradeId + '" text="' + jsonArray[i].tradeName + '">' +
                                jsonArray[i].tradeName + '</option>');
                        }
                        $("#ddlTradesBind").prepend("<option value='0' selected='selected'>Select Trade</option>");
                    }
                    var HTML = "";
                    //HTML += "<button type='button' onclick='btnSelectMultipleTrade(\"" + Id + "\",\"" + LocationName + "\");' style='margin:10px;' id='" + Id + "'>" + LocationName;
                    //$("#dvSelectedTagsBind").append(HTML);
                }
            });

        });
        //TO update the Final Selection check for image(image currently in final selection will be removed)

        $(document).on('change', '#chkFinal', function () {
            debugger;
            var Id = this.value;

            if ($(this).is(':checked')) {

                var IsConfirmed = confirm('Are you sure you want to add this to Final Selection?');

                if (IsConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Projects/UpdateFinalSelection",
                        data: { Id: Id, FinalSelection: true },
                        dataType: "json",
                        success: function (data) {
                            $.notify({ message: 'Added image to Final Selection.' }, { type: 'success' });
                            if (data === true)
                                location = location.href;
                            else
                                location = location.href;
                        }
                    });
                }
                else {
                    $('#modalEditTag').modal('hide');
                    //$('#modalEditTag').hide();
                   //location = location.href;
                }


            }
            else {
                var IsConfirmed = confirm('Are you sure you want to remove it from Final Selection?');

                if (IsConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Projects/UpdateFinalSelection",
                        data: { Id: Id, FinalSelection: false },
                        dataType: "json",
                        success: function (data) {
                            $.notify({ message: 'Removed image from Final Selection.' }, { type: 'success' });
                            if (data === true)
                                location = location.href;
                            else
                                location = location.href;
                        }
                    });
                }
                else {
                    $('#modalEditTag').modal('hide');
                    //location = location.href;
                    //$('#modalEditTag').hide();
                }
            }

        });

        $(document).on('change', '#ddlTradesBind', function () {
            var Id = this.value;
            var TradeName = $("#ddlTradesBind option:selected").text();
             $.ajax({
                url: '@Url.Action("GetMaterialsByTradeId", "Locations")',
                 type: 'GET',
                 data: { Id: Id },
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    $('#ddlTradesMaterialBind').empty();
                   // $("#dvSelectedTagsBind").empty();
                    if (jsonArray.length > 0) {
                        for (var i = 0; i < jsonArray.length; i++) {
                            $('#ddlTradesMaterialBind').append('<option value="' + jsonArray[i].materialId + '" text="' + jsonArray[i].materialName + '">'+ jsonArray[i].materialName +'</option>');
                        }
                        $("#ddlTradesMaterialBind").prepend("<option value='0' selected='selected'>Select Material</option>");
                    }
                    //var HTML = "";
                    //HTML += "<button type='button' onclick='btnSelectMultipleTrade(\"" + Id + "\",\"" + TradeName + "\");' style='margin:10px;' id='" + Id + "'>" + TradeName;
                    //$("#dvSelectedTagsBind").append(HTML);
                }
            });
        });

        //var selected = [];
        //$('#ddlTradesMaterialBind :selected').each(function () {
        //    selected[$(this).val()] = $(this).text();
        //});
        //console.log(selected);
        //$("#ddlTradesMaterialBind option:selected").each(function () {
        //    var $this = $(this);
        //    if ($this.length) {
        //        var selText = $this.text();
        //        console.log(selText);
        //    }
        //});


        $(document).on('change', '#ddlTradesMaterialBind', function () {
       // $('#ddlTradesMaterialBind').change(function () {
            var selectedValues = $(this).val();
            var MaterialName = $("#ddlTradesMaterialBind option:selected").text();
           // var selectedName = $(this).text();
           // alert(selectedValues);
           // console.log(selectedValues);
            //var HTML = "";
            //HTML += "<button type='button' onclick='btnSelectMultipleTrade(\"" + $(this).val() + "\",\"" + MaterialName + "\");' style='margin:10px;' id='" + + $(this).val() + "'>" + MaterialName;
            //$("#dvSelectedTagsBind").append(HTML);
        });



        function btnGetNoteHistory(Id) {
            $.ajax({
                type: "GET",
                url: "/Projects/NotesHistoryId",
                data: { id: Id },
                dataType: "json",
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    $("#dvNoteHistory").empty();
                    console.log(jsonArray);
                    var HTML = "";
                    HTML += "<h4>History</h4>"
                    HTML += "<div class='dvNoteHistoryy'>";
                    HTML += "<table class='table noteHistory' id='example' width='100%'>";
                    for (var j = 0; j < jsonArray.length; j++) {
                        HTML += "<tr>";
                        HTML += "<td style='padding: 8px !important;'><strong>" + jsonArray[j].dateString + ' (' + jsonArray[j].userName + ')</strong><br/>' + jsonArray[j].notes +  "</td>";
                        HTML += "</tr>";
                    }
                    HTML += "</table>";
                    HTML += "</div>";
                    $("#dvNoteHistory").append(HTML);
                }
            });
        }




        var tagSelectName = [];
        var tagSelectId = [];
        var locationSelectName = [];
        var locationSelectId = [];
        function btnSelectMultipleTrade(tradeId, name) {
            //tagSelectName = [];
            //tagSelectId = [];
            //locationSelectName = [];
            //locationSelectId = [];
            $("#dvSelectedTags").show();

            $("#dvSelectedTags").empty();
            var HTML = "";
            var tagId = tradeId;
            tagSelectName.push(name);
            tagSelectId.push(tradeId)
           // console.log(tagSelectName);
           // console.log(tagSelectId);
            btnGetTradeId(tagSelectId);
            btnGetLocationId(tagSelectId)
            HTML += "<table style='margin: 10px;width:90%;'>";
            // HTML += "<tr><td width='30%' style='cursor: auto;text-align:center'>Location List</td></tr>";
            HTML += "<tr style='border:1px solid gray;'>";
            for (var i = 0; i < tagSelectName.length; i++) {
                HTML += "<td>";
                HTML += "<table style='text-align:center;width:80%;'>";
                HTML += "<tr><td style='cursor: auto;text-align:left;margin:5px;padding-bottom:5px;'><button type='button' class='btn btn-white' style='margin:10px;' id='" + tagSelectId[i] + "'>" + tagSelectName[i] + "</td></tr>";
                HTML += "</table>";
                HTML += "</td>";
            }
            HTML += "</tr>";
            HTML += "</table>";
            $("#dvSelectedTags").append(HTML);
        }

        //KS: 6/12/2018
        //I add according to the add btn the loc,trade,material to tag it to the image.
        //KS : 11/12/2018 -We bind now the data when the popup opens from db and not when array is added
        //var locatAddId = [];
        //var locatAddName = [];
        //var tradeAddId = [];
        //var tradeAddName = [];
        //var materialAddId = [];
        //var materialAddName = [];
        function btnBindTagsByImageId(Id) {
            debugger;
            $("#dvSelectedTags").show();
            $("#dvSelectedTags").empty();
            var projectId = $("#projectId").val();
            $.ajax({
                type: "GET",
                url: "/Projects/GetTagsByImageId",
                data: { projectId: projectId, id: Id },
                dataType: "json",
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    var imageId = Id;

                    var HTML = "";

                    HTML += "<table width='100%' border='1'>";
                    HTML += "<tr>";
                    HTML += "<td>";
                    for (var i = 0; i < jsonArray.length; i++) {
                        HTML += "<div style='margin:5px;' class='btn btn-white'><span style='padding-right: 5px;' id='" + jsonArray[i].locationId + "_" + jsonArray[i].tradeId + "_" + jsonArray[i].materialId + "'>" + jsonArray[i].locationName + " | " + jsonArray[i].tradeName + " | " + jsonArray[i].materialName + "</span><button onclick='delTags(\"" + Id + "\",\"" + jsonArray[i].locationId + "\",\"" + jsonArray[i].locationName + "\",\"" + jsonArray[i].tradeId + "\",\"" + jsonArray[i].tradeName + "\",\"" + jsonArray[i].materialId + "\",\"" + jsonArray[i].materialName + "\");' class='close'  aria-hidden='true'>&times;</button></div>";

                    }
                    HTML += "</td>";
                    HTML += "</tr>";
                    HTML += "</table>";
                    $("#dvSelectedTags").append(HTML);
                }
            });
        }
        //To save the tags
        //now not from array but in save button--12/11/2018
        function btnSaveTags(id) {
            debugger;
            var imageId = id;

            var projectId= $("#projectId").val();
            var LocationId = $("#ddlLocationsBind").val();
            var LocationName = $("#ddlLocationsBind option:selected").text();
            var TradeId = $("#ddlTradesBind").val();
            var TradeName = $("#ddlTradesBind option:selected").text();
            var MaterialId = $("#ddlTradesMaterialBind").val();
            var MaterialName = $("#ddlTradesMaterialBind option:selected").text();
            if (LocationId != 0 && TradeId != 0 && MaterialId != 0) {
                $.ajax({
                    url: "/Projects/SaveProjectTags",
                    type: "POST",
                    data: { LocationId: LocationId, TradeId: TradeId, MaterialId: MaterialId, projectId: projectId, imageId: imageId },
                    dataType: "json",
                    success: function (data) {
                        $.notify({ message: 'Tag added successfully.' }, { type: 'success' });
                        if (data == true)
                            location = location.href;
                        else
                            location = location.href;
                    }


                });
            }
            else {
                alert('Please select valid material to add.');
            }


        }

        function delTags(Id,locatId, locatName, tradeId, tradeName, materialId, materialName) {
            debugger;
            var IsConfirmed = confirm('Are you sure you want to Delete this Tag?');
            var projectId = $("#projectId").val();
            if (IsConfirmed) {

                $.ajax({
                    url: "/Projects/DeleteProjectTags",
                    type: "POST",
                    data: { LocationId: locatId, TradeId: tradeId, MaterialId: materialId, projectId: projectId, imageId: Id },
                    dataType: "json",
                    success: function (data) {
                        $.notify({ message: 'Tag deleted successfully.' }, { type: 'success' });
                        if (data === true)
                            location = location.href;
                        else
                            location = location.href;
                    }



                });

            }

        }
        function btnSelectMultipleLocation(locationTypeId, name) {
            $("#dvSelectedTags").show();
            $("#dvSelectedTags").empty();
            var HTML = "";
            var locationId = locationTypeId;
            locationSelectName.push(name);
            locationSelectId.push(locationId)
            // console.log(tagSelectName);
           // console.log(locationSelectId);
            btnGetLocationId(locationSelectId);
            //var str_array = name.split(',');
            // var str_arrayId = tradeId.split(',');
            HTML += "<table style='margin: 10px'>";
            // HTML += "<tr><td width='30%' style='cursor: auto;text-align:center'>Location List</td></tr>";
            HTML += "<tr style='border:1px solid gray;'>";
            for (var i = 0; i < locationSelectName.length; i++) {
                HTML += "<td>";
                HTML += "<table style='text-align:center'>";
                HTML += "<tr><td style='cursor: auto;text-align:left;margin:5px;padding-bottom:5px;'><button type='button' class='btn btn-white' style='margin:10px;' id='" + locationSelectId[i] + "'>" + locationSelectName[i] + "</td></tr>";
                HTML += "</table>";
                HTML += "</td>";
            }
            HTML += "</tr>";
            HTML += "</table>";
            $("#dvSelectedTags").append(HTML);
        }





	</script>

	<script id="TradeTemplate" type="text/x-handlebars-template">

		<div class="panel panel-default panelTrade" data-tradeId="{{projectLocationTradeId}}">
			<div class="panel-heading">
				<h4 class="panel-title">
					<button type="button" projectLocationTradeId={{projectLocationTradeId}} locationId="{{locationId}}" class="accordionTradeDelete actDeleteProjectLocationTrade"><i class="fa fa-trash"></i></button>
					<a class="" data-toggle="collapse" data-parent="#accordion" href="#TradeId-{{projectLocationTradeId}}">
						{{projectLocationTradeName}} - {{locationName}}<i class="fa fa-chevron-right trade-material-collapse"></i>
					</a>
				</h4>
			</div>
			<div id="TradeId-{{projectLocationTradeId}}" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<th style="width:200px; min-width:200px;">
								Materials
								<a class="btn btn-success plus_btn pull-right" href="#collapseAdd-{{projectLocationTradeId}}" data-toggle="collapse" data-locationId="{{locationId}}" data-tradeId="{{projectLocationTradeId}}">
									<i class="fa fa-plus"></i>
								</a>
							</th>
							<th style="width:100px;">Cost</th>
							<th style="width:50px;">Quantity</th>
							<th style="width:150px;">Estimate</th>
							<th>Images</th>
							</thead>
							<tbody>
								<tr class="collapse" id="collapseAdd-{{projectLocationTradeId}}">
									<td colspan="5">
										<div class="row">

											<form id="AddMaterial-{{projectLocationTradeId}}" class="MaterialForm" role="form">

												<div class="modal-header col-md-12">
													<h4 class="modal-title">Add Material</h4>
												</div>
												<div class="clearfix" style="padding:15px 0;">
													<div class="col-md-4">
														<div class="form-group materialFields">
															<label>Material:</label>
															<select id="ddlMaterial" class="form-control ddlMaterial" name="material.MaterialId"></select>
															<input id="hdfLocationId" class="hdfLocationId" asp-for="location.LocationId" value="{{locationId}}" type="hidden" />
															<input id="ProjectLocationTradeMaterialId" class="ProjectLocationTradeMaterialId" name="material.ProjectLocationTradeMaterialId" type="hidden" />
															<input id="hdfIsNew" name="material.IsNew" value="true" type="hidden" />
															<input id="hdfTradeId" class="hdfTradeId" name="trade.TradeId" value="{{projectLocationTradeId}}" type="hidden" />
															<input id="txtMaterial" class="form-control otherMaterial txtMaterial" name="material.Name" style="display: none;" placeholder="Add new Material" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Cost:</label>
															<input id="txtCost" class="form-control txtCost" name="material.Cost" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Qty:</label>
															<input id="txtQty" class="form-control txtQty" name="material.Quantity" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Plan Reference #:</label>
															<input id="txtPlanReference" class="form-control txtPlanReference" name="material.PlanReference" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Manufacturer:</label>
															<input id="txtManufacturer" class="form-control txtManufacturer" name="material.Manufacturer" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Item/Model#:</label>
															<input id="txtModel" class="form-control txtModel" name="material.Model" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Finish:</label>
															<input id="txtFinish" class="form-control txtFinish" name="material.Finish" type="text" />
														</div>
													</div>

													<div class="col-md-4">

														<div class="form-group">

															<label>Lead Time:</label>
															<input id="txtLeadTime" class="form-control txtLeadTime" name="material.LeadTime" type="text" />
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>Description:</label>
															<textarea id="txtDescription" class="form-control txtDescription" name="material.Description"></textarea>
														</div>
													</div>
												</div>
												<div class="modal-footer col-md-12" style="clear:both;">
													@*<a href="#collapseAdd-{{projectLocationTradeId}}" data-toggle="collapse" class="btn btn-default">Cancel</a>
														<button type="button" class="btn btn-primary actformAddProjectLocationTradeMaterial">Save changes</button>*@
												</div>
											</form>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</script>


	<script id="MaterialTemplate" type="text/x-handlebars-template">

		<tr class="panelMaterial" data-ProjectLocationMaterialId="{{projectLocationTradeMaterialId}}">
			<td>
				<div class="delete_heading">
					{{projectLocationTradeMaterialName}}
					<a href="#collapseEdit-{{projectLocationTradeMaterialId}}" onclick="window.location.href='@Url.Action("Details", "Locations")';" style="margin-left:6px;" class="actEditMaterial" materialid="{{projectLocationTradeMaterialId}}" tradeId="{{projectLocationTradeId}}" data-toggle="collapse">
						<i class="fa fa-minus-square-o" )"></i>
					</a>
					<a href="#" class="actDeleteProjectLocationTradeMaterial" projectLocationTradeMaterialId="{{projectLocationTradeMaterialId}}"><i class="fa fa-trash"></i></a>
					<a href="#" class="popup-images" materialid="{{projectLocationTradeMaterialId}}" tradeId="{{projectLocationTradeId}}">
						<i class="fa fa-images" )"></i>
					</a>
				</div>
			</td>
			<td>
				<input type="text" class="form-control text-center actChange actCost" value="{{cost}}" placeholder="Cost" />
			</td>
			<td><input type="text" class="form-control text-center actChange actQuantity" value="{{qty}}" /></td>
			<td><input type="text" disabled="disabled" class="form-control text-center actChange actEstimate" value="{{estimate}}" /></td>
		</tr>
		<tr class="collapse in" id="collapseEdit-{{projectLocationTradeMaterialId}}">
			<td colspan="5">
				<div class="row materialFields">

					<form role="form" class="MaterialForm">

						<div class="modal-header col-md-12">
							<h4 class="modal-title">Edit Material</h4>
						</div>
						<div class="clearfix" style="padding:15px 0;">
							<div class="col-md-4" style="display: none;">
								<div class="form-group">
									<label>Material:</label>
									<select id="ddlMaterial" class="form-control ddlMaterial" disabled="disabled" name="material.MaterialId"></select>
									<input id="ProjectLocationTradeMaterialId" class="ProjectLocationTradeMaterialId" name="material.ProjectLocationTradeMaterialId" value="{{projectLocationTradeMaterialId}}" type="hidden" />
									<input id="hdfTradeId" class="hdfTradeId" name="trade.TradeId" value="{{projectLocationTradeId}}" type="hidden" />
									<input id="txtMaterial" class="txtMaterial form-control otherMaterial" name="material.Name" style="display: none;" placeholder="Add new Material" type="text" />
									<input id="hdfIsNew" name="material.IsNew" value="false" type="hidden" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Plan Reference #:</label>
									<input id="txtPlanReference" class="form-control txtPlanReference" name="material.PlanReference" value="{{planReference}}" type="text" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Manufacturer:</label>
									<input id="txtManufacturer" class="form-control txtManufacturer" name="material.Manufacturer" value="{{manufacturer}}" type="text" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Item/Model#:</label>
									<input id="txtModel" class="form-control txtModel" name="material.Model" value="{{model}}" type="text" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Finish:</label>
									<input id="txtFinish" class="form-control txtFinish" name="material.Finish" value="{{finish}}" type="text" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Lead Time:</label>
									<input id="txtLeadTime" class="form-control txtLeadTime" name="material.LeadTime" value="{{leadTime}}" type="text" />
								</div>
							</div>
							<div class="col-md-4">

								<div class="form-group">

									<label>Description:</label>
									<textarea id="txtDescription" class="form-control txtDescription" name="material.Description">{{description}}</textarea>
								</div>
							</div>
						</div>


						<div class="modal-footer col-md-12" style="clear:both;">
							@*<button type="button" onclick="$('#collapseEdit-' + {{projectLocationTradeMaterialId}}).collapse('hide');" data-toggle="collapse" class="btn btn-white">Cancel</button>
								<button type="button" class="btn btn-primary actformAddProjectLocationTradeMaterial">Save changes</button>
								<input id="hdf-ProjectLocationTradeMaterialId" type="hidden" value="0" name="material.ProjectLocationTradeMaterialId" />*@
						</div>
					</form>
				</div>
			</td>
		</tr>

	</script>

	<script type="text/javascript">

		var materialTemplate = null,
		tradeTemplate = null;

		var materials = [];

		@foreach (var material in Model.Materials)
    {
        @:materials.push({ "MaterialId": "@material.Value", "MaterialName": "@material.Text" });
																																																																				}

        $(document).ready(function () {

			var materialSource = $("#MaterialTemplate").html();
			materialTemplate = Handlebars.compile(materialSource);

			var tradeSource = $("#TradeTemplate").html();
			tradeTemplate = Handlebars.compile(tradeSource);
            //show popup
			$('.delete_heading').on('click', '.popup-images', function () {
			    var mipop = $('#material-image-popup');
			    var tradeId = $(this).attr("tradeId");
			    var materialid = $(this).attr("materialid");
			    $('#tradeId').val(tradeId);
			    $('#materialId').val(materialid);
			    mipop.show();
			});
            //close popup
			$('#material-image-popup').on('click', '.close-popup', function () {
			    $('#material-image-popup').hide();
			});
            //Show Images
			$('.panelMaterial').on('click', '.show-images', function () {
                var projectId = $(this).attr('projectId');
                var locationId = $(this).attr('locationId');
			    var tradeId = $(this).attr('tradeId');
			    var materialId = $(this).attr('materialId');
			    var dataObj = {
                    "projectId": Number(projectId),
                    "locationId": Number(locationId),
			        "tradeId": Number(tradeId),
			        "materialId": Number(materialId)
			    }
			    $('.mi-container').remove();
			    $.ajax({
			        url: '@Url.Action("GetImages", "Projects")',
			        type: 'get',
			        data: dataObj,
			        success: function (data) {
			            $.each(data, function (key, value) {
			                var imgdiv = '<div class="mi-container"><div class="delete-image" imageId="' + value.id + '"><i class="fa fa-times" aria-hidden="true"></i></div><img class="material-image" src="data:image/png;base64,' + value.image + '"></div>';
			                $('#display-images').append(imgdiv);
			            })
			            $('#display-images').removeClass('hidden-popup');
			        },
			        error: function () {
			            alert('Error getting material images.');
			        }
			    });
			});

            $('#display-images').on('click', '.close-popup', function () {
                $('#display-images').addClass('hidden-popup');
                $('.mi-container').remove();
            });

            //Delete image
            $('#display-images').on('click', '.delete-image', function () {
                var that = $(this);
                var imageId = $(this).attr('imageId');
                console.log(imageId);
                var dataObj = {
                    "imageId": Number(imageId)
                }
                $.ajax({
                    url: '@Url.Action("DeleteImage", "Projects")',
                    type: 'get',
                    data: dataObj,
                    success: function (data) {
                        that.closest('.mi-container').hide();
                    },
                    error: function () {
                        alert('Error deleting material images.');
                    }
                });
            });

			$('#ddlTrade').on('change', function () {

				if ($(this).val() == "-1") {
					$("#txtTrade").val('');
					$(".otherTrade").show();
				}
				else {
					$("#txtTrade").val($("#ddlTrade option:selected").text());
					$(".otherTrade").hide();
				}
			});

			$('#accordion').on('change', '.ddlMaterial', function () {

				var $this = $(this);
				var $materialFields = $this.closest('.materialFields');

				if ($this.val() == "-1") {
					$materialFields.find(".txtMaterial").val('');
					$materialFields.find(".otherMaterial").show();
				}
				else {
					$materialFields.find(".txtMaterial").val($this.find("option:selected").text());
					$materialFields.find(".otherMaterial").hide();
				}
			});

			$('.actAddTradeModal').on('click', function () {

				var locationId = $(this).attr('data-locationId');
				$('#TradeModal').modal();

			});

			$('#accordion').on('change', '.actChange', function () {

				var $this = $(this);
				var $tr = $(this).closest('tr');

				var $txtCost = $tr.find(".actCost");
				var $txtQty = $tr.find(".actQuantity");
				var $txtEstimate = $tr.find(".actEstimate");

				var cost = $txtCost.val();
				var qty = $txtQty.val();
				var estimate = $txtEstimate.val();

				if ($this.hasClass('actCost') || $this.hasClass('actQuantity')) {

					estimate = cost * qty;
					$txtEstimate.val(estimate);
				}
				else {
					estimate = estimate > 0 ? estimate : 1;
					qty = qty > 0 ? qty : 1;
					cost = estimate / qty;

					$txtCost.val(cost);

				}

				var ProjectLocationMaterialId = $tr.attr('data-ProjectLocationMaterialId');

				var dataObject = {
					"ProjectLocationMaterialId": ProjectLocationMaterialId,
					"cost": cost,
					"qty": qty,
					"estimate": estimate
				}

				$.ajax({
					url: '/Projects/UpdateEstimateDetails',
					data: dataObject,
					method: "POST",
					success: function () {
						console.log('update');
					},
					error: function () {
						console.log('error');
					}
				});
			});

			$('.actLocationType').on('change', function () {

				var locationType = $(".actLocationType option:selected").text() + " 1";
				$('.actLocationName').val(locationType);

			});

			$('#accordion').on('click', '.actEditMaterial', function () {

				var $this = $(this);

				var $caret = $this.find('i');

				if ($caret.hasClass('fa-caret-down')) {
					$caret.removeClass('fa-caret-down');
					$caret.addClass('fa-minus-square-o');
				}
				else {
					$caret.removeClass('fa-minus-square-o');
					$caret.addClass('fa-caret-down');
				}

				var $materialPanel = $('#collapseEdit-' + $this.attr('materialid'));

				var tradeId = $this.attr("tradeId");
				var materialid = $this.attr("materialid");

				if (materialid != "") {
					var dataObject = {
						"Id": materialid
					}

					$.ajax({
						cache: false,
						type: "GET",
						contentType: "application/json; charset=utf-8",
						dataType: 'json',
						url: '/Projects/EditProjectTradeMaterial',
						data: dataObject,
						success: function (data) {

							if ($(data).length) {
								//true;
								//binding values selected material

								if (data.MaterialId > 0) {
									$materialPanel.find(".ddlMaterial").val(data.MaterialId);
									$materialPanel.find(".otherMaterial").hide();
								}
								else {
									$materialPanel.find(".ddlMaterial").val(data.MaterialId);
									$materialPanel.find(".txtMaterial").val(data.Name);
									$materialPanel.find(".otherMaterial").show();
								}

								$materialPanel.find(".ddlMaterial").attr("disabled", true);// this will be readonly
								$materialPanel.find(".txtMaterial").attr("disabled", true);// this will be readonly

								$materialPanel.find(".txtManufacturer").val(data.Manufacturer);
								$materialPanel.find(".txtModel").val(data.Model);
								$materialPanel.find(".txtFinish").val(data.Finish);
								$materialPanel.find(".txtQty").val(data.Quantity);
								$materialPanel.find(".txtCost").val(data.Cost);
								$materialPanel.find(".txtLeadTime").val(data.LeadTime);
								$materialPanel.find(".txtPlanReference").val(data.PlanReference);
								$materialPanel.find(".txtDescription").val(data.Description);

								if (data.HaveNeedBy == '0')
									$materialPanel.find(".rdb-have").prop("checked", true);

								if (data.HaveNeedBy == '1')
									$materialPanel.find(".rdb-done").prop("checked", true);

								if (data.HaveNeedBy == '2')
									$materialPanel.find(".rdb-needby").prop("checked", true);
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							console.log("Ajax Failed!!!");
						}
					}); // end ajax call
				}
			});

			$(".printProject").on('click', function () {

				var locationid = $(this).attr("locationid");
				var tradeId = $("#selectedTrade").val();

				if (tradeId == 0) {
					$.getJSON('/Reports/LocationPageReport/' + locationid, '', function (location) {
						LocationPageReport(location);
					});
				}
				else {
					$.getJSON('/Reports/LocationTradeReport/' + locationid + '?TradeId=' + tradeId, function (location) {
						LocationPageReport(location);
					});
				}
			});

			$(".actChooseTrade").on('click', function () {

				var liTrade = $(this);
				$('.actChooseTrade').each(function (i, element) {

					var $elem = $(element).removeClass('trade_selected');
					$elem.find('.actMaterials').hide();
				});

				liTrade.addClass('trade_selected');
				liTrade.find('.actMaterials').show();
			});

			$('.actEdit').on('click', function () {

				var $control = $('.actLocationName');
				$control.removeClass('disabled');
				$control.removeAttr('disabled');

				$('.actDisabled').show();
			});

			$('.actCancelEdit').on('click', function () {

				var $control = $('.actLocationName');
				$control.addClass('disabled');
				$control.attr('disabled', 'disabled');

				$('.actDisabled').hide();
			});

			$('.trade_accordian').on('change', '.MaterialForm input,.MaterialForm select,.MaterialForm textarea', AddUpdateMaterial);

			$('.actformAddProjectLocationTrade').on("click", function () {

				var form = $('#formAddProjectLocationTrade').serialize();

				$.ajax({
					url: '@Url.Action("AddProjectLocationTrade", "Projects")',
					type: 'post',
					data: form,
					success: function (data) {

						if (data && data.result) {

							AddTrade(data.result);

						}
					},
					error: function () {
						console.log('error adding Project Location Trade')
					}
				});
			});

			@*$('#accordion').on('click', '.actformAddProjectLocationTradeMaterial', function () {

				var $this = $(this);
				var form = $this.closest('form').serialize();

				$.ajax({
					url: '@Url.Action("AddMaterial", "Projects")',
					type: 'post',
					data: form,
					success: function (data) {

						if (data && data.result && data.result.isNew) {

							AddMaterial($this, data.result);
							$.notify({ message: 'Material added Successfully.' }, { type: 'success' });
						}
						else {
							$.notify({ message: 'Material updated Successfully.' }, { type: 'success' });

						}
					},
					error: function () {
						console.log('error adding Project Location Trade Material')
					}
				});
			});*@

			$('.actTradeModalCancel').on('click', ClearTradeModal);

			$('#accordion').on('click', '.actDeleteProjectLocationTrade', DeleteProjectLocationTrade);

			$('#accordion').on('click', '.actDeleteProjectLocationTradeMaterial', DeleteProjectLocationTradeMaterial);

			$(".actDeleteProjectLocation").on('click', function () {

				var $this = $(this);
				var projectLocationId = $this.attr('projectlocationid');

				var IsConfirmed = confirm('Are you sure you want to Delete this Location?');

				if (IsConfirmed) {

					var form = $('<form>', {
						'action': '@Url.Action("DeleteProjectLocation", "Locations")',
						'method': 'post'
					})
					 .append($('<input>', { 'name': 'projectLocationId', 'value': '' + projectLocationId + '', 'type': 'hidden' }))
						.append($('<input>', { 'name': 'projectId', 'value': '@Model.location.ProjectId', 'type': 'hidden' }))
							 .appendTo('body').submit();
				}
			});
		});

		function AddTrade(trade) {

			var $tradePanel = $(".trade_accordian");

			$.each($tradePanel.find('.panelTrade'), function (i, panel) {

				var anchor = $(panel).find('h4.panel-title a');

				var IsCollapsed = anchor.hasClass('collapsed');

				if (!IsCollapsed) {

					anchor.addClass('collapsed');
					$(panel).find('.panel-collapse').removeClass("in");
				}
			});

			var html = tradeTemplate(trade);
			$tradePanel.prepend(html);

			var materialsDropDown = $('#TradeId-' + trade.projectLocationTradeId).find('#ddlMaterial');
			for (var i = 0; i < materials.length; i++) {
				materialsDropDown.append("<option value='" + materials[i].MaterialId + "'>" + materials[i].MaterialName + "</option>");
			}

			ClearTradeModal();
			$.notify({ message: 'Trade added Successfully.' }, { type: 'success' });
		}

		function ClearTradeModal() {

			$('#ddlTrade').prop('selectedIndex', -1);
			$(".otherTrade").hide();
			$('#txtTrade').text('');
			$("#txtTrade").val('');

			$('#TradeModal').modal('hide');
		}

		function DeleteProjectLocationTrade(e) {

			var IsConfirmed = confirm('Are you sure you want to Delete this Trade?');

			if (IsConfirmed) {

				var $this = $(this);
				var locationId = $this.attr('locationId');
				var projectLocationTradeId = $this.attr('projectLocationTradeId');

				$.get('@Url.Action("DeleteProjectTrade", "Projects")/' + projectLocationTradeId + '?LocationId=' + locationId, function () {

					$this.closest('.panelTrade').remove();
					$.notify({ message: 'Trade deleted Successfully.' }, { type: 'success' });
				});
			}
		}

		function DeleteProjectLocationTradeMaterial(e) {

			var IsConfirmed = confirm('Are you sure you want to Delete this Material?');

			if (IsConfirmed) {

				var $this = $(this);
				var projectLocationTradeMaterialId = $this.attr('projectLocationTradeMaterialId');

				$.get('@Url.Action("DeleteProjectMaterial", "Projects")/' + projectLocationTradeMaterialId, function () {

					$this.closest('.panelMaterial').remove();
					$('tr#collapseEdit-1060').remove();
                    $.notify({ message: 'Trade deleted Successfully.' }, { type: 'success' });
                    window.location.href = '@Url.Action("Details", "Locations")';
                });

            }


		}

		function AddMaterial(e, material) {

			var tr = e.closest('tr');
			tr.removeClass("in");

			var table = tr.closest('table');

			$.each(table.find('tr'), function (i, row) {

				var $row = $(row);

				var $caret = $row.find('i');

				if ($caret.hasClass('fa-minus-square-o')) {
					$caret.removeClass('fa-minus-square-o');
					$caret.addClass('fa-caret-down');
				}

				if ($row.hasClass('in')) {
					$row.removeClass('in');
				}
			});

			var html = materialTemplate(material);

			tr.after(html);

			ClearAddMaterialFields(tr);
		}

		function ClearAddMaterialFields($materialPanel) {

			$materialPanel.find(".ddlMaterial").val(0);
			$materialPanel.find(".otherMaterial").hide();
			$materialPanel.find(".txtMaterial").val('');

			//$materialPanel.find(".ddlMaterial").attr("disabled", false);// this will be readonly
			//$materialPanel.find(".txtMaterial").attr("disabled", false);// this will be readonly

			$materialPanel.find(".txtManufacturer").val('');
			$materialPanel.find(".txtModel").val('');
			$materialPanel.find(".txtFinish").val('');
			$materialPanel.find(".txtQty").val('');
			$materialPanel.find(".txtCost").val('');
			$materialPanel.find(".txtLeadTime").val('');
			$materialPanel.find(".txtPlanReference").val('');
			$materialPanel.find(".txtDescription").val('');

		}

		function AddUpdateMaterial(e) {

			var $this = $(this);

			if($this.hasClass('ddlMaterial') && $this.val() == "-1"){
				return;
			}

			var form = $this.closest('form').serialize();

			$.ajax({

				url: '@Url.Action("AddMaterial", "Projects")',
				type: 'post',
				data: form,
				success: function (data) {

					if (data && data.result && data.result.isNew) {
						AddMaterial($this, data.result);
						$.notify({ message: 'Material added Successfully.' }, { type: 'success' });
					}
					else {
						$.notify({ message: 'Material updated Successfully.' }, { type: 'success' });
					}
				},
				error: function () {
					console.log('error adding Project Location Trade Material')
				}
			});
		}

	</script>
}
