@model SpecSheetsCore.Controllers.Admin.HomeController

@{
    ViewData["Title"] = "ManageAccountUsers";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ManageAccountUsers</h2>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="tblTrades" class="tblTrades footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <th data-toggle="true">User List</th>
                                <th class="text-right" data-sort-ignore="true">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a class="btn-white btn btn-xs actEdit" data-TradeId="" data-TradeName="">Edit</a>
                                        <a asp-area="Admin" asp-controller="Trade" asp-action="Delete" asp-route-Id="" class="btn-white btn btn-xs">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

