@model SpecSheetsCore.Controllers.HomeController

@{
    ViewData["Title"] = "PaymentInformation";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>PaymentInformation</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2>PaymentInformation</h2>    
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <div class="form-group">
                <div class="col-md-4">
                    <input class="form-control" value="Name On Card" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                    <input class="form-control" value="Credit Card NO" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="Billing Street Address" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input class="form-control" value="Billing Zip" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <input class="form-control" value="Pro Edition"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="$9:90 per month"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <input class="form-control" type="checkbox" value="Agree"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <input class="form-control" type="checkbox" value="Agree" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <input class="form-control" type="submit" value="Continue" />
                </div>
            </div>
        </div>
    </div>
</form>
