@model SpecSheetsCore.Controllers.AccountController

@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>UpdateUser</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2>PaymentInformation</h2>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="Email" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="Phone" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="Password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <input class="form-control" value="Re-Enter Password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <input class="form-control" type="submit" value="Continue" />
                </div>
            </div>
        </div>
    </div>
</form>

