* {
	margin: 0;
	padding: 0;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

body {
	font-family: Roboto;
	padding: 60px 0 32px;
    line-height: 1;
    padding-bottom: 0!important;
	/*background-color: #EEE;*/
	color: #000;
}
/*clear fix*/
.clearfix:before,
.clearfix:after {
    content: "";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom: 1;
}

a {
	color: #19c8ff;
}

	a:hover, a:focus {
		color: #4db54d;
		outline: none;
		text-decoration: none;
	}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1100px;
	min-width: 320px;
}

section {
	padding-bottom: 20px;
}

.body_wrapper {
}

label {
	font-weight: normal;
	display: block;
}

/************************  HEADER ************************************/
header {
	background: #ffc000;
	border-bottom: 1px solid #c29200;
	text-align: center;
}

.slidePanel_btn {
	float: left;
	padding: 11px 12px;
	margin: 0 0 -1px -15px;
	height: 100%;
	width: 50px;
	background: #000;
}

	.slidePanel_btn .bar {
		float: left;
		width: 100%;
		height: 1px;
		background: #FFF;
		margin: 3px 0;
	}

.navbar-brand {
	background: url(../img/logo.png) no-repeat center / contain;
	width: 152px;
	height: 34px;
	padding: 0;
	margin: 0;
	display: inline-block;
	float: none;
}

header .right_btns {
	float: right;
}

	header .right_btns a {
		float: left;
		margin: 3px 0 4px 12px;
		color: #000;
		font-size: 22px;
	}

		header .right_btns a:hover {
			color: #FFF;
		}

		header .right_btns a:first-child {
			margin-left: 0;
		}

/************************  HEADINGS ************************************/
.heading_sec {
	border-bottom: 1px solid #CCC;
	position: relative;
	padding: 0 0 10px;
	margin: 0 0 20px;
}

	.heading_sec:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		background: #FFF;
		height: 1px;
		width: 100%;
	}

	.heading_sec h2 {
		font-weight: 300;
		float: left;
		margin: 0;
		line-height: normal;
	}

.heading_yellow {
	font-weight: 500;
	color: #e9af00;
	font-size: 18px;
	margin: 0 0 15px;
}

.location_head {
	margin: 40px 0;
}

	.location_head .heading_yellow {
		float: left;
		line-height: 2.1;
		margin: 0 20px 0 0;
	}

.plus_btn {
	min-width: auto !important;
}

/************************  LOCATON SAVED ************************************/
.locations_saved > li {
	border: 1px solid #9c9c9c;
	box-shadow: 0 0 1px 1px #DDD;
	min-height: 50px;
	border-radius: 4px;
	overflow: hidden;
	margin: 0 0 20px;
}

	.locations_saved > li h4 {
		background: #FFF;
		margin: 0;
		color: #000;
		font-size: 16px;
		font-weight: 500;
		height: 100%;
		text-transform: uppercase;
		float: left;
		border-right: 1px solid #9c9c9c;
		padding: 6px 10px;
		text-align: center;
	}

		.locations_saved > li h4 i {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 0 0;
		}

			.locations_saved > li h4 i.icon_kitchen {
				background: url(../images/kitchen_icon.png) no-repeat center;
				width: 28px;
				height: 37px;
			}

			.locations_saved > li h4 i.icon_washroom {
				background: url(../images/washroom_icon.png) no-repeat center;
				width: 37px;
				height: 37px;
			}

.locations_saved li .list > li {
	display: table-cell;
	border-right: 1px solid #9c9c9c;
}

	.locations_saved li .list > li a {
		display: table-cell;
		height: 49px;
		min-width: 100px;
		text-align: center;
		vertical-align: middle;
		padding: 0 12px;
		color: #000;
	}

		.locations_saved li .list > li a:hover {
			background: #4db54d;
			color: #FFF;
		}

.trades_sec {
	max-width: 250px;
}

	.trades_sec > li {
		border-bottom: 1px solid #CCC;
		position: relative;
		padding: 15px 70px 15px 15px;
	}

		.trades_sec > li h3 {
			font-size: 16px;
			font-weight: 400;
			line-height: normal;
			margin: 0;
		}

		.trades_sec > li > .fa {
			color: #000;
			position: absolute;
			right: 15px;
			top: 0;
			bottom: 0;
			margin: auto;
			font-size: 16px;
			height: 16px;
		}

		.trades_sec > li .del_btn {
			height: 27px;
			right: 50px;
			font-size: 18px;
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		.trades_sec > li:hover {
			background: #4db54d;
			color: #FFF;
		}

.trade_selected {
	background: #4db54d;
	color: #FFF;
}

.trades_sec > li:hover .fa {
	color: #FFF;
}

.trades_sec > li:hover .del_btn {
	display: block;
}

.trades_sec > li .drop_down {
	position: absolute;
	top: 0;
	left: 100%;
	right: 0;
	background: #FFF;
	border: 1px solid #AAA;
	border-radius: 3px;
	padding: 4px;
	width: 820px;
	display: none;
}

.trades_sec > li:hover .drop_down {
	display: block;
}

.trades_sec > li .drop_down table {
	margin: 0;
}

.trades_sec > li .drop_down th {
	color: #e9af00;
	font-weight: 500;
	font-size: 16px;
	padding: 8px;
	text-align: center;
}

	.trades_sec > li .drop_down th:first-child {
		text-align: left;
	}

.trades_sec > li .drop_down .delete_heading {
	background: #000;
	color: #FFF;
	border-radius: 30px;
	font-size: 14px;
	padding: 8px 15px;
	margin: 0;
}

.trades_sec > li .drop_down h5 {
	margin: -16px 0 0;
	text-align: center;
}

.trades_sec > li .drop_down .delete_heading a {
	color: #FFF;
	float: right;
}

.trade_accordian .panel-title {
	font-weight: 400;
	font-size: 16px;
}

	.trade_accordian .panel-title a {
		display: block;
	}

		.trade_accordian .panel-title a .fa {
			float: right;
		}
        .trade_accordian .panel-title a .trade-material-collapse {
            float: left;
            margin-right: 15px;
            font-size: 18px;
        }



		.trade_accordian .panel-title a .fa-chevron-right:before {
			content: "\f103";
		}

		.trade_accordian .panel-title a.collapsed .fa-chevron-right:before {
			content: "\f101";
		}


.trade_accordian .table th {
	color: #e9af00;
	font-weight: 500;
	font-size: 16px;
	padding: 8px;
	text-align: center;
	vertical-align: middle;
}

	.trade_accordian .table th:first-child {
		text-align: left;
	}

.trade_accordian .table td .delete_heading {
	background: #000;
	color: #FFF;
	border-radius: 30px;
	font-size: 14px;
	padding: 8px 15px;
	margin: 0;
}

	.trade_accordian .table td .delete_heading a {
		color: #FFF;
		float: right;
	}


.add-material-lft {
	width: 300px !important;
}

	.add-material-lft > div > input {
		width: 100%;
		height: 30px;
	}

.add-material-rgt {
	width: 300px !important;
	margin: 15px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}

	.add-material-rgt > div > textarea {
		width: 300px !important;
		height: 172px !important;
	}

	.add-material-rgt > div > input {
		width: 100%;
		height: 30px !important;
	}

.haveNeedBy {
	margin: 0px 0px 0px 0px !important;
}
/************************  TABLES ************************************/
.table > thead > tr > th, .table > tbody > tr > td {
	border: 0;
	vertical-align: middle;
}

.table > tbody > tr > td {
	cursor: pointer;
}

.projects_table {
	padding: 0 0 0 1px;
}

	.projects_table .table > tbody > tr:hover {
		background: #FFF;
		border: 1px solid #379437;
		border-radius: 3px;
	}

	.projects_table .btn_td {
		padding: 0;
	}

	.projects_table .btn {
		min-width: auto;
		float: right;
		visibility: hidden;
	}

	.projects_table .table > tbody > tr:hover .btn {
		visibility: visible;
		border-radius: 0;
		border-color: transparent;
	}

/************************  FOOTER ************************************/
footer {
	background: #000;
	color: #FFF;
	text-align: center;
	padding: 3px 0;
	z-index: -1;
}

/************************  BOOTSTRAP ************************************/
.form-control {
	font-family: Roboto;
	height: 40px;
	border-color: #BBB;
	border-radius: 3px;
	color: #000;
}

.btn {
	text-transform: uppercase;
	font-weight: 500;
	min-width: 80px;
	padding: 8px 12px;
}

.btn-primary {
	background: #4db54d;
	border: 1px solid #379437;
	color: #FFF;
	border-radius: 3px;
}

	.btn-primary:hover {
		background: #379437;
		border: 1px solid #379437;
		color: #FFF;
	}

	.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .open > .dropdown-toggle.btn-primary {
		background: #379437;
		border: 1px solid #379437;
		color: #FFF;
	}

.btn-default {
	background: #f2f2f2;
}

	.btn-default:hover {
		background: #FFF;
	}

.btn-edit {
	min-width: auto;
	padding: 0 4px;
	margin: 0 0 0 10px;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

	.row.no-gutters > [class^="col-"] {
		padding-right: 0;
		padding-left: 0;
	}

.form-control::-webkit-input-placeholder {
	color: #000;
}

.form-control::-moz-placeholder {
	color: #000;
}

.input-group-addon {
	background: #4db54d;
	border: 1px solid #379437;
	color: #FFF;
}

	.input-group-addon:hover {
		background: #379437;
		color: #FFF;
	}

.form_fields .disabled {
	border: 0;
	box-shadow: none;
	background: none;
	padding: 0;
}

#wrapper {
	padding-left: 0;
	position: relative;
	background: #EEE;
    padding-top: 20px;
   min-height: 100vh;
	/*z-index: 1;*/
}

	#wrapper.toggled {
		padding-left: 250px;
	}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	top: 41px;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	padding: 30px 0 0;
	overflow-y: auto;
	background: #202020;
}

	#sidebar-wrapper ul li a {
		font-size: 20px;
		font-weight: 300;
		color: #FFF;
		border-bottom: 1px solid #4d4d4d;
		display: block;
		padding: 15px 20px 15px 55px;
		position: relative;
		line-height: normal;
	}

		#sidebar-wrapper ul li a:hover {
			background: #4db54d;
		}

		#sidebar-wrapper ul li a .fa {
			position: absolute;
			left: 15px;
			top: 0;
			bottom: 0;
			margin: auto;
			font-size: 24px;
			height: 26px;
		}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
/*********************Project Details Styles*******************************/
.project-details .form-group label {
    font-weight: 600;
}
.project-header {
    margin-right: 20px;
}
.trade-material {
    width:200px; 
    min-width:200px;
}
.breadcrumb-nav {
    margin-bottom: 15px;
}
.breadcrumb-nav .breadcrumb-nav-anchor {
    text-decoration: underline;
}
.breadcrumb-nav .breadcrumb-nav-current {
    color: #505359;
}
.breadcrumb-nav .breadcrumb-nav-current:hover {
    color: #505359;
}
.breadcrumb-nav span {
    color: #878A8F;
}
.heading_sec .location-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}
/*New User Sign Up/Log In */
.user-signup-form,
.user-login-form {
    width: 400px;
    margin: 50px auto;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 8px 2px rgba(230,230,230,1);
    -moz-box-shadow: 0px 1px 8px 2px rgba(230,230,230,1);
    box-shadow: 0px 1px 8px 2px rgba(230,230,230,1);
}
.user-signup-form .signup-form-inputs,
.user-login-form .login-form-inputs {
    padding: 20px;
}
.user-login-form .login-form-inputs {
    padding-left: 25px;
    padding-right: 25px;
}
.user-signup-form .col-md-12,
.user-login-form .col-md-12 {
    float: none;
}
.user-signup-form .form-group,
.user-login-form .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}
.user-signup-form .form-group label,
 .user-login-form .form-group label {
    color:#555;
}
 .user-login-form .form-group label {
     text-align: left;
     margin-bottom: 5px;
 }
 .forgot-password {
     text-align: right;
     line-height: 20px;
     color: #2893C7;
     padding-right: 0;
     margin-bottom: 30px;
 }
  .forgot-password a {
      text-decoration: none;
      color:  #2893C7;
  }
  .user-login-form  .remember-me {
     padding-top: 0;
     text-align: left;
     line-height: 20px;
    margin-left: -14px; 
     margin-bottom: 30px;
 }
.user-signup-form .signup-submit-btn button,
.user-login-form .login-submit-btn button {
    background: #2893C7;
    height: 47px;
    border: none;
    border-radius: 0 0 4px 4px;
    color: #fff;
}
.user-signup-title,
.user-login-title {
    text-align:center;
    color: #555;
    margin-top: 50px;
}
.user-signup-title span,
.user-login-title span {
    color:darkorange;
}
.user-signup-p,
.user-login-p {
    text-align: center;
    color: #2893C7;
}
.validation-summary-errors {
    margin: 10px;
}
//Choosepackage 
.choosePackage .heading-title  h2{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border: none;
    color: #222;
}
.choosePackage .heading-title h2::before {
    content: unset;
}
.payment-tabs .tab {
    border-bottom: 1px solid  #D1D6DA;
    padding: 20px;
    text-align: center;
}
.payment-tabs .tab a {
    text-transform: uppercase;
    text-decoration: none;
    color: #D1D6DA;
    font-size: 14px;
}
.payment-tabs .tab.active  {
    border-color: #333;
}
.payment-tabs .tab.active a {
    color: #333;
}
.billing-info {
    background: #fff;
    padding: 50px;
}
.billing-info h3 {
    margin-top: 60px;
    margin-bottom: 20px;    
    color: #333;
    font-weight: 300;
}
.billing-info  form {
    margin-left: -15px!important;
    margin-top: 10px;
}
.billing-info  form .form-group {
    margin-top: 15px;
}
.billing-info  form label {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
}
.address-check label {
    display: inline-block;
}
.billing-info-submit button {
    float: right;
    background: #007bff;
    font-size: 18px;
    border-color: #007bff;
    padding: 12px 40px;
    font-size: 12px;
}
.billing-info-submit button:hover {
    background: #0069d9;
    border-color: #0069d9;
}
.billing-info .tab-previous,
.billing-info .billing-info-submit {
    margin-top: 20px;
    line-height: 47px;
}
.billing-info .tab-previous a {
    text-decoration: none;
    font-size: 16px;
    color: #b2b2b2;
}
.choosed-package {
    background: #f3f3f3;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
}
.choosed-package .choosePackage {
    margin-top: 50px;
}
.choosed-package .choosePackage  .package {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.choosed-package .choosePackage h4 {
    font-weight: 300;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D1D6DA;
    margin-bottom: 20px;
}
.img-input {
    -moz-box-shadow: #4db54d;
    -webkit-box-shadow: #4db54d;
    box-shadow: #4db54d;
    background: #4db54d;
    background: #4db54d;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #4db54d;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #379437;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 14px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #379437;
    cursor: pointer;
}

    .img-input:hover {
        background: #379437;
        background: #4db54d;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
        background-color: #379437;
    }

    .img-input:active {
        position: relative;
        top: 1px;
    }

/********************* CHOOSE PACAKAGE STYLES *******************************/
.choosePackage .property-features {
    font-size: 18px;
}
.choosePackage .property-container{ padding:20px; min-height:290px;}
.choosePackage .property-container h4{ font-size:20px; color:#6b6e80; font-weight:300; margin:1em 0 2em;}
.choosePackage .property-container .price b{ font-size:30px; color:#000;}
.choosePackage .property-container .price span{ font-weight:300; font-size:26px; color:#000;}
.choosePackage .property-container .btn{ background:#fff9eb; border:1px solid #ffaf01; display:block; font-size:20px; font-weight:600;
text-transform:uppercase; margin:2em 0 0;}
.choosePackage#content {
    padding: 0;
    padding-bottom: 50px;
}
.choosePackage .heading-title h2 {
    text-transform: none;
    font-size: 28px;
    font-weight: 700;
}
.choosePackage .heading-title h2::before,
.heading-title h2::after {
    content: unset;
}
.package .package-header {
    padding: 20px;
    background: #FCCC68;
}
.package .package-header h2 {
    font-size: 33px;
    text-align: center;
    margin-top: 5px;;
}
.package .package-header span {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: block;
}
.package .package-header .package-price {
    margin-top: 20px;
}
.package .package-header .package-des {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.package .package-title {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    letter-spacing: 2px;
}
.package .package-info {
    padding: 30px 25px;
    background: #fff;
}
.package .package-info.package-pro-info {
    padding-top: 10px;
}
.package .package-info ul li {
    line-height: 2.8;
    list-style: none;
    font-size: 15px;
}
.package .package-info ul li strong {
    font-weight: 600;
}
.package .package-pro-info .package-highlight {
    padding: 10px 20px;
    background: #FCCC68;
    font-size: 15px;
    font-weight: 600;
}
.package .choose-btn {
    background: #FFF9EC;
    text-align: center;
    padding: 10px 0;
}
.package .choose-btn a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FCCC68;
}
.choosePackage .heading-title  h2{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border: none;
    color: #222;
}
.choosed-package .choosePackage .package {
    float: unset;
}
.total-price {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #D1D6DA;
}
.hidden {
    display: none!important;
}
header .nav-rbtns,
header .navbar-brand {
    line-height: 42px;
    vertical-align: middle;
}
header .navbar-brand {
    margin-top: 6px;
}
header .slidePanel_btn {
    padding:  14px 12px;
}
.hidden-popup {
    display: none;
}
#material-image-popup,
#display-images {
    width: 600px;
    border: 1px solid #505359;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}
#material-image-popup #image {
    margin-top: 20px;
}
#material-image-popup h4 {
    margin-top: 0;
    padding-top: 0;
}
#material-image-popup .close-popup,
#display-images .close-popup {
    float: right;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    vertical-align:  middle;
    cursor: pointer;
}
.hidden-input {
    display: none!important;
}
.bt-mi-submit {
    margin-top: 15px;
}
.material-image {
    margin: 5px;
}
#display-images .mi-container {
    border: 1px solid #9c9c9c;
    padding: 5px;
    margin: 5px;
    position: relative;
    float: left;
    max-width: 100%;
}
#display-images .mi-container .material-image{
    max-width: 100%;
}
#display-images .mi-container .delete-image {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
#display-images h4 {
    margin-bottom: 15px;
}
.display-photo img {
    max-width: 100%;
    margin-top: 10px;
}


@media(max-width:1199px) {
	.trades_sec > li .drop_down {
		width: 690px;
	}
    .user-signup-form .signup-submit-btn,
    .user-signup-form .signup-submit-btn button {
        width: 100%;
    }
     .package .package-header {
        padding: 10px 20px;
        min-height: 222px;
    }
    .package .package-pro-info .package-highlight {
        padding : 10px;
    }
    .choosed-package .choosePackage  .package {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:991px) {
	.trades_sec {
		max-width: 100%;
	}

		.trades_sec > li {
			padding: 15px;
		}

			.trades_sec > li .del_btn {
				top: 15px;
				bottom: auto;
			}

			.trades_sec > li > .fa {
				top: 22px;
				bottom: auto;
			}

			.trades_sec > li .drop_down {
				position: initial;
				margin: 20px 0 0;
				width: 100%;
			}
}

@media(max-width:768px) {
	.locations_saved > li h4 {
		float: none;
		border: 0;
		border-bottom: 1px solid #9c9c9c;
	}

	.locations_saved li .list > li {
		display: block;
		border-right: 0;
		border-bottom: 1px solid #9c9c9c;
	}

		.locations_saved li .list > li:last-child {
			border: 0;
		}

		.locations_saved li .list > li a {
			display: block;
			height: auto;
			padding: 12px;
		}
         .package .package-header .package-des {
        margin-bottom: 0;
    }
     .package .package-header {
        padding: 10px 20px;
        min-height: 226px;
    }
     .package .package-info ul li {
         line-height: 2;
     }
     .package .package-info.package-pro-info {
         padding-bottom: 10px;
     }
     .package .package-info {
         min-height: 329px;
         padding: 10px;
     }
}
@media only screen and (max-width: 480px) {
    .navbar-fixed-top .slidePanel_btn {
        margin-left: -15px;
    }
    .navbar-fixed-top .navbar-brand {
        margin-top: 3px;
    }
    .project-header  #btn-inviteuser {
        clear: left;
        margin-right: 10px;
    }
    .project-header button {
        font-size:12px;
        padding: 5px 8px;
        display: inline-block;
    }
    .project-header h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .project-details .btn-edit.actEdit {
        float:right;
        margin-right: 20px;
        padding: 2px 6px;
    }
    .project-details .form-control {
        width: 96%;
    }
    .project-header {
        margin-right: 0;
    }
    .locations_saved {
        margin-right: 15px;
    }
    .project-location-trade-table th {
      display: none;
    }
    .project-location-trade-table td {
      display: block;
    }
    .project-location-trade-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
      margin-bottom: 3px;
    }
    .project-location-trade-table #collapseEdit-18 td:before {
        content: "";
    }
    .user-signup-form {
        width: 100%;
        margin: 30px auto;
    }
    .user-signup-title {
        margin-top: 20px;
    }
    .btn {
        text-transform: uppercase;
        font-weight: 500;
        min-width: 80px;
        padding: 8px 12px;
        font-size: 10px;
        margin-right: 10px;
    }

}
@media only screen and (max-width: 480px) {
    .navbar-fixed-top .slidePanel_btn {
        margin-left: -15px;
    }
    .navbar-fixed-top .navbar-brand {
        margin-top: 3px;
    }
    .project-header  #btn-inviteuser {
        clear: left;
        margin-right: 10px;
    }
    .project-header button {
        font-size:12px;
        padding: 5px 8px;
        display: inline-block;
    }
    .project-header h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .project-details .btn-edit.actEdit {
        float:right;
        margin-right: 20px;
        padding: 2px 6px;
    }
    .project-details .form-control {
        width: 96%;
    }
    .project-header {
        margin-right: 0;
        position: relative;
    }
    .locations_saved {
        margin-right: 15px;
    }
    .project-location-trade-table th {
      display: none;
    }
    .project-location-trade-table td {
      display: block;
    }
    .project-location-trade-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
      margin-bottom: 3px;
    }
    .project-location-trade-table .material-edit td:before {
        content: "";
    }
    .fa-trash:before,
    .fa-chevron-right:before,
    .fa-minus-square-o:before {
        font-size: 20px;
    }
    .location-details .location-name {
        font-size: 24px;
        font-weight: 400;
    }
    .project-header .actDeleteProject {
        position: absolute;
        top: 0;
        right: 10px;
    }
    .location-details .actDeleteProjectLocation {
        padding: 6px 12px;
        font-size: 12px;
    }
    .user-signup-form,
    .user-login-form {
        width: 300px;
    }
        .package {
        margin-bottom :20px;
    }
    .package .package-info ul li {
         line-height: 2.4;
     }
     .package .package-info {
         padding: 20px;
     }
    .package .package-info {
        min-height: unset;
    }
    #material-image-popup, #display-images {
        width: 90%!important;
    }
}
