@model SpecSheetsCore.Models.ManageViewModels.BillingInformationViewModel

@{
    ViewData["Title"] = "BillingInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int packageId = ViewBag.package;
}
<style type="text/css">
    #wrapper {
        padding-top: 0;
        background: #fff;
    }
    body {
        padding-top: 40px;
    }
    section {
        padding-bottom: 0;
    }

</style>
<div class="billing-info col-md-8 col-sm-8 col-xs-12">
    <div class="row payment-tabs">
        <div class="col-md-4 tab"><a href="/Account/choosepackage">01 package selection</a></div>
        <div class="col-md-4 active tab"><a href="#">02 Customer Info</a></div>
        <div class="col-md-4 tab"><a href="/Payment/PaymentInformation">03 Payment Selection</a></div>
    </div>
    <h3>Billing Information</h3>
    <form asp-controller="Payment" asp-action="SaveBillingInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName">First Name</label>
                    <input  asp-for="FirstName" type="text" class="form-control" id="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" asp-for="LastName" class="form-control" id="LastName">
                    <span asp-validation-for="LastName" class="text-danger" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="BillingAddress">Address</label>
                    <input asp-for="BillingAddress" type="text" class="form-control" id="BillingAddress">
                    <span asp-validation-for="BillingAddress" class="text-danger" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="State">State</label>
                    <input asp-for="State" type="text" class="form-control" id="State">
                    <span asp-validation-for="State" class="text-danger" />
                    @*<select asp-for="State" id="State" class="form-control">
                        <option selected>Choose...</option>
                        <option selected value="0">Select...</option>
                        <option value="1">New Jersy</option>
                        <option value="2">Texas</option>
                        <option value="3">Alaska</option>
                    </select>*@
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="City">City</label>
                    <input asp-for="City" type="text" class="form-control" id="City">
                    <span asp-validation-for="City" class="text-danger" />
                    @*<select asp-for="City" id="City" class="form-control">
                        <option selected value="0">Select...</option>
                        <option value="1">Houston</option>
                        <option value="2">OakLand</option>
                        <option value="3">New York City</option>
                    </select>*@
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Zip">Postal Code</label>
                    <input asp-for="Zip" type="number" class="form-control" id="Zip">
                    <span asp-validation-for="Zip" class="text-danger" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber">Postal Code</label>
                    <input asp-for="PhoneNumber" type="number" class="form-control" id="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-check address-check">
                    <input class="form-check-input" asp-for="AddressCheck" type="checkbox" id="addressCheck">
                    <label class="form-check-label" asp-for="AddressCheck">
                        Save Address for Billing
                    </label>
                </div>
            </div>
            <div class="col-md-6 tab-previous">
                <a href="/Account/choosepackage"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Return to Packages</a>
            </div>
            <div class="col-md-6 billing-info-submit">
                <button type="submit" class="btn btn-primary">Continue   <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            @*
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="CreditCardNo" class="col-md-2 control-label"></label>
                </div>
                <div class="col-md-6">
                    <label asp-for="BillingDate" class="col-md-2 control-label"></label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">

                    <div class="col-md-10">
                        <input asp-for="CreditCardNo" class="form-control" />
                        <span asp-validation-for="CreditCardNo" class="text-danger" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-9">
                        <input asp-for="BillingDate" class="form-control" />
                        <span asp-validation-for="BillingDate" class="text-danger" />
                    </div>
                </div>
            </div>
            *@
</form>

</div>
<div class="choosed-package clearfix col-md-4 col-sm-4 col-xs-12">
    <div class="choosePackage">
        <h4>Selected Package</h4>
           @if (packageId == 1) {
        <div class="col-sm-12 package package-ho">
            <div class="package-header">
                <div class="package-price">
                    <h2>$49.95</h2>
                    <span>Monthly</span>
                </div>
                <p class="package-des">Designed for a home owner to organize their own project</p>
            </div>
            <div class="package-title">Home Owner</div>
            <div class="package-info">
                <ul>
                    <li><strong>One </strong>Active Project</li>
                    <li><strong>Single </strong>Admin Account</li>
                    <li><strong>Invite </strong>Read and/or Write Users</li>
                    <li><strong>Full </strong>Users</li>
                    <li><strong>One </strong>Premium</li>
                    <li><strong>Includes </strong>all report to print/email access</li>
                </ul>
            </div>
        </div>
        <div class="row total-price">
            <div class="col-md-6">Total</div>
            <div class="col-md-6"><strong>$49.95</strong>&nbsp;Monthly</div>
        </div>
           }
           else if (packageId == 2)
           {
        <div class="col-sm-12 package package-pro">
            <div class="package-header">
                <div class="package-price">
                    <h2>$89.95</h2>
                    <span>Monthly</span>
                </div>
                <p class="package-des">Designed for a Building Professional to organize and collaborate multiple projects</p>
            </div>
            <div class="package-title">Professional</div>
            <div class="package-info">
                <ul>
                    <li><strong>Oragnize </strong>Up to 5 Active Projects</li>
                    <li><strong>Multiple </strong>Admin Account</li>
                    <li><strong>Invite </strong>Read and/or Write Users</li>
                    <li><strong>Full </strong>Customer Support</li>
                    <li><strong>One </strong>Premium</li>
                    <li><strong>Includes </strong>all report to print/email access</li>
                </ul>
            </div>
        </div>
        <div class="row total-price">
            <div class="col-md-6">Total</div>
            <div class="col-md-6"><strong>$89.95</strong>&nbsp;Monthly</div>
        </div>
           }
           else if (packageId == 3)
           {
        <div class="col-sm-12 package package-ho">
            <div class="package-header">
                <div class="package-price">
                    <span>Starting at</span>
                    <h2>$500</h2>
                </div>
                <p class="package-des">Have an Xactli building professional organize your project for you</p>
            </div>
            <div class="package-title">Consierge</div>
            <div class="package-info package-pro-info">
                <div class="package-highlight">One Xactli Building Professional works closely you</div>
                <ul>
                    <li><strong>Includes </strong>all quantity take offs</li>
                    <li><strong>Includes </strong>supplier RFQ's</li>
                    <li><strong>Full </strong>Customer Support</li>
                    <li><strong>One </strong>Premium</li>
                    <li><strong>Includes </strong>all report to print/email access</li>
                </ul>
            </div>
        </div>
        <div class="row total-price">
            <div class="col-md-7">Total</div>
            <div class="col-md-5"><strong>$500</strong>&nbsp;Monthly</div>
        </div>
                }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
