@model SpecSheetsCore.Models.PaymentViewModels.PaymentInformationViewModel

@{
    ViewData["Title"] = "PaymentInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Information</h2>
<hr />
<div class="row">
    <div class="col-md-2">
        <h5>Name on Card</h5> 
    </div>
    <div  class="col-md-2">
        <h5>Credit Card Number</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Mark zuckar berg
    </div>
    <div class="col-md-2">
        41111111111111111
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h5>Billing Zip</h5>
    </div>
    <div class="col-md-2">
        <h5>Edition</h5>
    </div>
    <div class="col-md-2">
        <h5>Price</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        5400
    </div>
    <div class="col-md-2">
        Pro Edition
    </div>
    <div class="col-md-2">
       $89.50 per month
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h5>Billing Street Address</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        Put address here Put address here Put address here
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-1">
        <input type="checkbox" value="Agree" />  Agree
    </div>
    <div class="col-md-4">
        <input type="checkbox" value="Do not agree" />  Do not agree
    </div>
</div>
<hr />
<div class="row">
    <input type="submit" value="CONTINUE" class="btn btn-default" style="background-color:green; color:#fff; margin:20px 0px 0px 0px;" />
</div>

