
@{
    ViewData["Title"] = "Choose Package";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<form asp-action="ChoosePackage">
    <div id="content" class="choosePackage">
        <div class="container">
            <div class="heading-title"><h2>Select A Package</h2></div>
            <div class="row">
                <div class="col-sm-4 package package-ho">
                    <div class="package-header">
                        <div class="package-price">
                            <h2>$49.95</h2>
                            <span>Monthly</span>
                        </div>
                        <p class="package-des">Designed for a home owner to organize their own project</p>
                    </div>
                    <div class="package-title">Home Owner</div>
                    <div class="package-info">
                        <ul>
                            <li><strong>One </strong>Active Project</li>
                            <li><strong>Single </strong>Admin Account</li>
                            <li><strong>Invite </strong>Read and/or Write Users</li>
                            <li><strong>Full </strong>Users</li>
                            <li><strong>One </strong>Premium</li>
                            <li><strong>Includes </strong>all report to print/email access</li>
                        </ul>
                    </div>
                    <div class="choose-btn">
                         <a id="btn-homeowner" href="../Payment/Billinginformation/1" class="btn">Choose</a>
                    </div>
                </div>

                <div class="col-sm-4 package package-pro">
                    <div class="package-header">
                        <div class="package-price">
                            <h2>$89.95</h2>
                            <span>Monthly</span>
                        </div>
                        <p class="package-des">Designed for a Building Professional to organize and collaborate multiple projects</p>
                    </div>
                    <div class="package-title">Professional</div>
                    <div class="package-info">
                        <ul>
                            <li><strong>Oragnize </strong>Up to 5 Active Projects</li>
                            <li><strong>Multiple </strong>Admin Account</li>
                            <li><strong>Invite </strong>Read and/or Write Users</li>
                            <li><strong>Full </strong>Customer Support</li>
                            <li><strong>One </strong>Premium</li>
                            <li><strong>Includes </strong>all report to print/email access</li>
                        </ul>
                    </div>
                    <div class="choose-btn">
                        <a id="btn-pro" href="../Payment/Billinginformation/2" class="btn">Choose</a>
                    </div>
                </div>

                <div class="col-sm-4 package package-ho">
                    <div class="package-header">
                        <div class="package-price">
                            <span>Starting at</span>
                            <h2>$500</h2>
                        </div>
                        <p class="package-des">Have an Xactli building professional organize your project for you</p>
                    </div>
                    <div class="package-title">Consierge</div>
                    <div class="package-info package-pro-info">
                        <div class="package-highlight">One Xactli Building Professional works closely you</div>
                        <ul>
                            <li><strong>Includes </strong>all quantity take offs</li>
                            <li><strong>Includes </strong>supplier RFQ's</li>
                            <li><strong>Full </strong>Customer Support</li>
                            <li><strong>One </strong>Premium</li>
                            <li><strong>Includes </strong>all report to print/email access</li>
                        </ul>
                    </div>
                    <div class="choose-btn">
                        <a id="btn-concierge" href="../Payment/Billinginformation/3" class="btn">More Information</a>
                    </div>
                </div>

            </div>
        </div> 
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-homeowner").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("Billinginformation", "Payment", new { packageId = 1 })";
            });
            $("#btn-pro").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("Billinginformation", "Payment", new { packageId = 2 })";
            });
            $("#btn-concierge").click(function (e) {
                e.preventDefault();
                window.location.href = "@Url.Action("Billinginformation", "Payment", new { packageId = 3 })";
            });

        });
    </script>
}