@model SpecSheetsCore.Models.AccountViewModels.CongratulationViewModel

@{
    ViewData["Title"] = "Congratulation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="text-align:center;">
    <h2>Congratulations !</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-3" style="height:100px; margin:20px 0px 0px 0px;">

    </div>
    <div class="col-md-6" style="font-size:large; font-weight:bold; background-color:#fff; text-align:center; border:1px solid #000; height:150px; margin:20px 0px 0px 0px; padding:40px 0px 0px 0px;" >
        <p>
            A confirmation email sent to <br />
            mark@gmail.com 
        </p>
    </div>
    <div class="row">
        <div class="col-md-5" style="height:100px; margin:20px 0px 0px 0px;">

        </div>
        <div class="col-md-6" style="height:100px; margin:20px 0px 0px 0px;">
            <input type="submit" value="RETURN TO LOG-IN" class="btn btn-default" style="background-color:green; color:#fff; margin:20px 0px 0px 0px;" />
        </div>

    </div>

</div>

