@model SpecSheetsCore.Models.AccountViewModels.ParentAccountViewModel

@{
		ViewData["Title"] = "CompanyInfo";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h2>Account Information</h2>
	<style type="text/css">
		#tabs {
			margin-top: 20px !important;
			margin-bottom: 0px !important;
		}

		ul#tabs {
			list-style-type: none;
			padding: 0;
			text-align: left;
		}

			ul#tabs li {
				display: inline-block;
				background-color: #25332f;
				border-bottom: solid 5px #238b68;
				padding: 5px 20px;
				margin-bottom: 4px;
				color: #fff;
				cursor: pointer;
			}

				ul#tabs li:hover {
					background-color: #238b68;
				}

				ul#tabs li.active {
					background-color: #86928e;
				}

		ul#tab {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

			ul#tab li {
				display: none;
			}

				ul#tab li.active {
					display: block;
				}
	</style>
	<div id="accountinfo-main-div" class="clearfix">
		<ul id="tabs">
			<li class="active">Account information</li>
			<li>Billing Information</li>
			<li>Account Users</li>
		</ul>
		<ul id="tab">
			<li class="">
				<form asp-controller="Account" asp-action="SaveAccountInformationInfo">
					<div id="billing-info-main-div" class="">
						<hr />
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="row">
							<div class="form-group col-sm-5">
								<label>Name</label>
								<input asp-for="AccountInfoViewModel.Name" class="form-control" />
								<span asp-validation-for="AccountInfoViewModel.Name" class="text-danger" />
							</div>
							<div class="form-group col-sm-2"></div>
							<div class="form-group col-sm-5">
								<label asp-for="AccountInfoViewModel.Phone">Phone</label>
								<input asp-for="AccountInfoViewModel.Phone" class="form-control" />
								<span asp-validation-for="AccountInfoViewModel.Phone" class="text-danger" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label asp-for="AccountInfoViewModel.City"></label>
								<select name="City" id="listbox" asp-for="AccountInfoViewModel.City" class="form-control">
									<option value="0">Select...</option>
									<option value="1">Houston</option>
									<option value="2">OakLand</option>
									<option value="3">New York City</option>
								</select>
								<span asp-validation-for="AccountInfoViewModel.City" class="text-danger" />
							</div>
							<div class="col-sm-4 form-group">
								<label asp-for="AccountInfoViewModel.State"></label>
								<select name="State" id="listbox" asp-for="AccountInfoViewModel.State" class="form-control">
									<option value="0">Select...</option>
									<option value="1">New Jersy</option>
									<option value="2">Texas</option>
									<option value="3">Alaska</option>
								</select>
								<span asp-validation-for="AccountInfoViewModel.State" class="text-danger" />
							</div>
							<div class="col-sm-4 form-group">
								<label asp-for="AccountInfoViewModel.Zip"></label>
								<input asp-for="AccountInfoViewModel.Zip" class="form-control" />
								<span asp-validation-for="AccountInfoViewModel.Zip" class="text-danger" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-group">
								<label asp-for="AccountInfoViewModel.Address"></label>
								<input asp-for="AccountInfoViewModel.Address" class="form-control" />
								<span asp-validation-for="AccountInfoViewModel.Address" class="text-danger" />
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Update" class="btn btn-default" style="background-color:green; color:#fff;" />
						</div>
					</div>
				</form>
			</li>
			<li class="active">
				<style type="text/css">
					#billing-info-main-div-1 {
						margin: 0px 0px 0px 0px !important;
					}

					.margin0 {
						margin: 0px 0px 0px 0px;
					}

					.billing-lbl-style {
					}

					#billing-info-lbl-1 {
						margin-left: 0px;
						padding-left: 0px;
					}

						#billing-info-lbl-1 > div {
							padding-left: 0px;
						}

							#billing-info-lbl-1 > div > label {
								margin-left: 0px;
								padding-left: 0px;
							}

					select {
						height: 40px;
					}
				</style>
				<form asp-controller="Payment" asp-action="SaveBillingInfo">
					<div id="billing-info-main-div-1" class="clearfix">
						<hr />
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label asp-for="BillingInformationViewModel.NameOnCard"></label>
								<input asp-for="BillingInformationViewModel.NameOnCard" class="form-control" />
								<span asp-validation-for="BillingInformationViewModel.NameOnCard" class="text-danger" />
							</div>
							<div class="form-group col-sm-6">
								<label asp-for="BillingInformationViewModel.PhoneNumber"></label>
								<input asp-for="BillingInformationViewModel.PhoneNumber" class="form-control" />
								<span asp-validation-for="BillingInformationViewModel.PhoneNumber" class="text-danger" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-4">
								<label asp-for="BillingInformationViewModel.City"></label>
								<select name="City" id="listbox" asp-for="BillingInformationViewModel.City" class="text-danger form-control col-md-12">
									<option value="0">Select...</option>
									<option value="1">Houston</option>
									<option value="2">OakLand</option>
									<option value="3">New York City</option>
								</select>
								<span asp-validation-for="BillingInformationViewModel.City" class="text-danger" />
							</div>
							<div class="form-group col-sm-4">
								<div class="row">
									<div class="col-md-6">
										<label asp-for="BillingInformationViewModel.State"></label>
										<select name="State" id="listbox" asp-for="BillingInformationViewModel.State" class="text-danger form-control">
											<option value="0">Select...</option>
											<option value="1">New Jersy</option>
											<option value="2">Texas</option>
											<option value="3">Alaska</option>
										</select>
									</div>
									<div class="col-md-6">
										<span class="pull-left">
										</span>
										<span asp-validation-for="BillingInformationViewModel.State" class="text-danger" />
									</div>
								</div>
							</div>
							<div class="form-group col-sm-4">
								<label asp-for="BillingInformationViewModel.Zip"></label>
								<input asp-for="BillingInformationViewModel.Zip" class="form-control" />
								<span asp-validation-for="BillingInformationViewModel.Zip" class="text-danger" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-12">
								<label asp-for="BillingInformationViewModel.BillingAddress"></label>
								<input asp-for="BillingInformationViewModel.BillingAddress" class="form-control" />
								<span asp-validation-for="BillingInformationViewModel.BillingAddress" class="text-danger" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label asp-for="BillingInformationViewModel.CreditCardNo"></label>
								<input asp-for="BillingInformationViewModel.CreditCardNo" class="form-control" />
								<span asp-validation-for="BillingInformationViewModel.CreditCardNo" class="text-danger" />
							</div>
							<div class="form-group col-sm-6">
								<label asp-for="BillingInformationViewModel.BillingDate"></label>
								<input asp-for="BillingInformationViewModel.BillingDate" class="form-control" />
								<span asp-validation-for="BillingInformationViewModel.BillingDate" class="text-danger" />
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Update" class="btn btn-default" style="background-color:green; color:#fff;" />
						</div>
					</div>
				</form>
				<div class="row margin0">
					<div class="col-md-12" style="padding-left:0px; color:orange">
						<h4>Subcription Type</h4>
					</div>
				</div>
				<div class="row margin0">
					<div class="col-md-12" style="padding-left:0px;">
						<div class="col-md-4" style="background-color:#000; height:40px;">

						</div>
					</div>
					<div class="col-md-12" style="padding-left:0px;">
						<div class="col-md-4" style="background-color:#fff; height:150px;">
							<div class="col-md-12" style="border:1px ridge #000; height:80px; margin:20px 0px 0px 0px; text-align:center; padding-top:15px;">
								<p>
									Desing for a building professional<br />
									to organize many project
								</p>
							</div>
							<div class="col-md-12" style="height:20px; margin:5px 0px 0px 0px; color:green; font-weight:bold; text-align:center;">
								$89.50 month
							</div>
						</div>
					</div>
				</div>
				<div class="row margin0">
					<input type="submit" value="Cancel" class="btn btn-default" style="background-color:green; color:#fff; margin:20px 0px 0px 0px;" />
				</div>
			</li>
			<li>
				<div class="form-group" style="margin-top: 20px;">
					<h3 class="heading_yellow">My Projects</h3>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Project</th>
									<th>Name</th>
									<th>Email</th>
									<th>Trade</th>
									<th>Permission Level</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody class="actProjectRows">
								@foreach (var item in Model.InvitedUsers)
								{
										<tr projectId="@item.ProjectId">
											<td>@item.ProjectName</td>
											<td>@item.ContactName</td>
											<td>@item.Email</td>
											<td>@item.TradeName</td>
											<td>@item.PermissionLevel</td>
											<td>@item.InviteStatus</td>
											<td>
												<button class="btn btn-primary margin-left actResend" invitedUserId="@item.InvitedUserId" projectid="@item.ProjectId">Resend</button>
												<button class="btn btn-primary actDelete" invitedUserId="@item.InvitedUserId" projectid="@item.ProjectId">Delete</button>
											</td>
										</tr>
								}
							</tbody>
						</table>
					</div>
				</div>

			</li>
		</ul>
	</div>
</div>



@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$("ul#tabs li").click(function (e) {
				if (!$(this).hasClass("active")) {
					var tabNum = $(this).index();
					var nthChild = tabNum + 1;
					$("ul#tabs li.active").removeClass("active");
					$(this).addClass("active");
					$("ul#tab li.active").removeClass("active");
					$("ul#tab li:nth-child(" + nthChild + ")").addClass("active");
				}
			});
		});
	</script>
}
