﻿@model SpecSheetsCore.Models.AccountViewModels.RegisterViewModel
@{
		ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="RegisterInvitedUser" method="post" class="form-horizontal">
	<h4>Create a new account.</h4>
	<hr />
	<div asp-validation-summary="All" class="text-danger">
		@Html.HiddenFor(m => m.Email)
	</div>
	@*<div class="form-group">
		<label asp-for="Email" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>*@
	<div class="form-group">
		<label asp-for="Password" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="ConfirmPassword" class="form-control" />
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Name" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="CompanyName" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="CompanyName" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label asp-for="StreetAddress" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="StreetAddress" class="form-control" />
			<span asp-validation-for="StreetAddress" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="City" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="City" class="form-control" />
			<span asp-validation-for="City" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="State" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="State" class="form-control" />
			<span asp-validation-for="State" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="Zip" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Zip" class="form-control" />
			<span asp-validation-for="Zip" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="Phone" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Phone" class="form-control" />
			<span asp-validation-for="Phone" class="text-danger"></span>
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-default">Register</button>
		</div>
	</div>
</form>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
