﻿@model SpecSheetsCore.Models.AccountViewModels.SignupViewModel
@{
    ViewData["Title"] = "Register";
}
<h2 class="user-signup-title">Create your <span>Xactli</span> account</h2>
<p class="user-signup-p">or <a href="/Account/Login">sign in to your account</a></p>
<form asp-controller="Account" asp-action="Signup" method="post" class="user-signup-form clearfix">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="signup-form-inputs">
        <div class="form-group">
            <label asp-for="Username" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Username" class="form-control" id="userName"/>
                @*<span asp-validation-for="Username" class="text-danger"></span>*@
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Email" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Password" class="form-control" />
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>
        </div>

        @*<div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>*@


        <div class="form-group">
            <label asp-for="Phone" class="col-md-12 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Phone" class="form-control" />
                @*<span asp-validation-for="Phone" class="text-danger"></span>*@
            </div>
        </div>
    </div>
    <div class="signup-submit-btn">
        <button type="submit" class="btn btn-default col-md-12">Sign Up</button>
    </div>

</form>

@section Scripts {
 @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
   
}
