﻿@model SpecSheetsCore.Models.LoggedInViewModels.ReportsViewModel

<div class="heading_sec clearfix">
	<div class="row">
		<div class="col-md-8 col-xs-12">
			<h2>Reports</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">

		<h3 class="heading_yellow location_head">Trades By Location</h3>

		<div class="row form_fields">
			<div class="col-md-6 form-group">
				Project:
				@Html.DropDownList("Project", Model.Projects, new { @class = "form-control" })
			</div>
		</div>

		<div class="row form_fields">
			<div class="col-md-6 form-group">
				Location:
				@Html.DropDownList("Location", new SelectList(string.Empty, "Value", "Text"), "No Locations Available", new { @class = "form-control" })
			</div>
		</div>

		@*<div class="row form_fields">
				<div class="col-md-6 form-group">
					Trade:
					@Html.DropDownList("Trade", new SelectList(string.Empty, "Value", "Text"), "No Trades Available", new { @class = "form-control" })
				</div>
			</div>*@

		<div>
			<div class="col-md-2 col-sm-4">
				<button class="btn btn-primary actPrintReport" type="button">Print <i class="fa fa-print"></i></button>
			</div>
		</div>


	</div>

	<div class="col-md-6">

		<h3 class="heading_yellow location_head">Locations By Trade</h3>

		<div class="row form_fields">
			<div class="col-md-6 form-group">
				Project:
				@Html.DropDownList("Projects", Model.Projects, new { @class = "form-control" })
			</div>
		</div>
		<div class="row form_fields">
			<div class="col-md-6 form-group">
				Trade:
				@Html.DropDownList("Trades", new SelectList(string.Empty, "Value", "Text"), "No Trades Available", new { @class = "form-control" })
			</div>
		</div>
		<div>
			<div class="col-md-2 col-sm-4">
				<button class="btn btn-primary actPrintLocationsByTradesReport" type="button">Print <i class="fa fa-print"></i></button>
			</div>
		</div>

	</div>
</div>


@section Scripts{

	<script type="text/javascript">

		$(document).ready(function () {

			// Trades By Location
			$("#Project").on('change', ReportsEvents.OnTradeByLocationProjectChange);

			// Locations By Trade
			$("#Projects").on('change', ReportsEvents.OnLocationByTradeProjectChange);

			$(".actPrintReport").on('click', Reports.TradesByLocation);

			$(".actPrintLocationsByTradesReport").on('click', Reports.TradeLocationMaterial);
			
		});

		var Reports = {

			TradesByLocation: function () {

				var projectId = $("#Project").val();
				var locationid = $("#Location").val();

				if (locationid > 0) {
					$.getJSON('/Reports/ReportTradesByLocation/' + projectId + '?LocationId=' + locationid, '', function (project) {

						var projectName = $("#Project option:selected").text();
						var locationName = $("#Location option:selected").text();
						var filterText = projectName + " - " + locationName + " - All Trades";

						ReportsLibrary.ReportTradesByLocation(filterText, project);

					});
				}
				else {

					$.getJSON('/Reports/ReportTradesByLocation/' + projectId, '', function (project) {

						var projectName = $("#Project option:selected").text();
						var filterText = projectName + " - All Trades by Location";

						ReportsLibrary.ReportTradesByLocation(filterText, project);
					});

				}
			},

			TradeLocationMaterial: function () {

				var projectId = $("#Projects").val();
				var tradeId = $("#Trades").val();

				if (tradeId == 0) {
					$.getJSON('/Reports/ReportLocationsByTrades/' + projectId, '', function (project) {

						var projectName = $("#Projects option:selected").text();
						var filterText = projectName + ' - All Locations by Trade';

						ReportsLibrary.ReportLocationsByTrade(filterText, project);
					});
				}
				else {

					var tradeName = $("#Trades option:selected").text();

					$.getJSON('/Reports/ReportLocationsByTrades/' + projectId + '?TradeName=' + tradeName, '', function (project) {

						var projectName = $("#Projects option:selected").text();
						var tradeName = $("#Trades option:selected").text();
						var filterText = projectName + " - " + tradeName + " - All Locations";

						ReportsLibrary.ReportLocationsByTrade(filterText, project);
					});

				}
			}
		};

		var ReportsEvents = {

			OnTradeByLocationProjectChange: function () {

				$("#Location").empty();
				$("#Trade").empty();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("GetLocations")',
					dataType: 'json',
					data: { ProjectId: $("#Project").val() },
					success: function (projectLocations) {

						$("#Trade").append('<option value="' + 0 + '">' + 'ALL' + '</option>');

						$.each(projectLocations, function (i, location) {
							$("#Location").append('<option value="' + location.value + '">' + location.text + '</option>');
						});
					},
					error: function (ex) {
						$("#Location").append('<option value="' + -1 + '">' + 'Error' + '</option>');
						$("#Trade").append('<option value="' + -1 + '">' + 'Error' + '</option>');
					}
				});

				return false;
			},

			OnLocationByTradeProjectChange: function () {

				$("#Trades").empty();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("GetUniqueTrades")', // we are calling json method
					dataType: 'json',
					data: { ProjectId: $("#Projects").val() },
					success: function (Trades) {
						$.each(Trades, function (i, trade) {
							$("#Trades").append('<option value="' + trade.value + '">' + trade.text + '</option>');
						});
					},
					error: function (ex) {
						$("#Trade").append('<option value="' + -1 + '">' + 'Error' + '</option>');
					}
				});

				return false;
			}


		};
	</script>
}