﻿@model SpecSheetsCore.Models.ProjectViewModels.InvitedUserViewModel

<style type="text/css">
	.margin-left {
		margin-left: 10px;
	}
</style>

<div class="form-group">

	<div class="heading_sec clearfix">
		<h2><a asp-controller="Projects" asp-action="Details" asp-route-Id="@Model.ProjectId">@Model.ProjectName</a> => Invited Users</h2>

		<button class="btn btn-primary pull-right actInviteUser">Invite User</button>

	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Trade</th>
					<th>Permission Level</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="actProjectRows">
				@foreach (var item in Model.InvitedUsers)
				{
						<tr projectId="@item.ProjectId">
							<td>@item.ContactName</td>
							<td>@item.Email</td>
							<td>@item.TradeName</td>
							<td>@item.PermissionLevel</td>
							<td>@item.InviteStatus</td>
							<td>
								<button class="btn btn-primary margin-left actResend" invitedUserId="@item.InvitedUserId" projectid="@item.ProjectId">Resend</button>
								<button class="btn btn-primary actDelete" invitedUserId="@item.InvitedUserId" projectid="@item.ProjectId">Delete</button>
							</td>
						</tr>
				}
			</tbody>
		</table>
	</div>
</div>


<div class="modal inmodal actinviteUserModal" tabindex="-1" role="dialog" aria-hidden="true" data-LocationTypeId="0">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInRight">
			@using (Html.BeginForm("InviteProjectUser", "InviteUser", new { @class = "form-horizontal", role = "form" }))
			{
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Invite User</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Name:</label>
							<input id="txtName" name="UserName" class="form-control" type="text" />
						</div>
						<div class="form-group">
							<label>Email:</label>
							<input id="txtEmail" name="Email" class="form-control" type="email" />
						</div>
						<div class="form-group">
							<label>Trade:</label>

							@Html.DropDownList("Trades", null, new { @class = "form-control" })
							@Html.Hidden("ProjectId", Model.ProjectId)

						</div>
						<div class="form-group">
							<label>Permission:</label>
							@Html.DropDownList("PermissionId", new List<SelectListItem>() { new SelectListItem() { Text = "Read-only", Value = "1" }, new SelectListItem() { Text = "Update", Value = "2" } }, new { @class = "form-control" })
							@Html.Hidden("formName", "InvitedUsers")
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary actSaveTrade">Send Invite</button>
					</div>
			}
		</div>
	</div>
</div>


@section Scripts{

	<script type="text/javascript">
		$(document).ready(function () {

			$(".actInviteUser").on('click', function () {
				$('.actinviteUserModal').modal();
			});

			$(".actResend").on('click', function () {

				var $this = $(this);
				var invitedUserId = $this.attr("invitedUserId");

				$.get("@Url.Action("ResendInvite", "InviteUser")?InviteId=" + invitedUserId, function (data, status) {
					alert("Invite has been resent");
				});

			});

			$(".actDelete ").on('click', function () {

				var $this = $(this);

				var invitedUserId = $this.attr("invitedUserId");
				var projectId = $this.attr("projectId");

				window.location.href = "@Url.Action("DeleteInvitedUser", "InviteUser")?projectId=" + projectId + "&invitedUserId=" + invitedUserId;
			})
		});
	</script>
}