﻿
@model SpecSheetsCore.Models.LoggedInViewModels.ProjectViewModel

@using (Html.BeginForm("Add", "Projects", FormMethod.Post, new { role = "form" }))
{
		<div class="heading_sec clearfix">
			<h2>Add Project</h2>
		</div>
		<div class="row form_fields">
			<div class="col-md-4 col-sm-4 form-group">
				<label>Project Name *</label>
				@Html.HiddenFor(x => x.project.ProjectId)
				@Html.TextBoxFor(x => x.project.ProjectName, new { @class = "form-control" })
			</div>
			<div class="col-md-4 col-sm-4 form-group">
				<label>Owner Name *</label>
				@Html.TextBoxFor(x => x.project.OwnerName, new { @class = "form-control" })
			</div>
		</div>
		<div class="row form_fields">
			<div class="col-md-4 col-sm-4 form-group">
				<label>City *</label>
				@Html.TextBoxFor(x => x.project.City, new { @class = "form-control" })
			</div>
			<div class="col-md-4 col-sm-4 form-group">
				<label>State *</label>
				@Html.TextBoxFor(x => x.project.State, new { @class = "form-control" })
			</div>
		</div>
		<div class="row form_fields">
			<div class="col-md-4 col-sm-4 form-group">
				<label>Zip *</label>
				@Html.TextBoxFor(x => x.project.Zip, new { @class = "form-control" })
			</div>
			<div class="col-md-4 col-sm-4 form-group">
				<label>Email *</label>
				@Html.TextBoxFor(x => x.project.Email, new { @class = "form-control" })
			</div>
		</div>
		<div class="row form_fields">
			<div class="col-md-4 col-sm-4 form-group">
				<label>Phone *</label>
				@Html.TextBoxFor(x => x.project.Phone, new { @class = "form-control" })
			</div>
			<div class="col-md-4 col-sm-4 form-group">
				<label>Address *</label>
				@Html.TextBoxFor(x => x.project.Address, new { @class = "form-control" })
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
}
