﻿@model SpecSheetsCore.Models.LoggedInViewModels.ProjectsViewModel

<div class="heading_sec clearfix">
    <h2>Projects</h2>
    @*@if (Model.IsInvitedUser != true)
		{*@
				<a href="~/Projects/Add/" class="btn btn-primary pull-right"><i></i>Add Project</a>
		@*}*@
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 form-group">
        <h3 class="heading_yellow">My Projects</h3>
        <div class="table-responsive projects_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>Owner Name</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody class="actProjectRows">
                    @foreach (var item in Model.projects.Where(x => x.IsOwner == true))
                    {
                        <tr projectId="@item.ProjectId">
                            <td>@item.ProjectId</td>
                            <td>@item.ProjectName</td>
                            <td>@item.OwnerName</td>
                            <td>@item.Phone</td>
                            <td class="btn_td">
                                <button class="btn btn-primary printProject" projectid="@item.ProjectId"><i class="fa fa-print"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 form-group">
        <h3 class="heading_yellow">Invited Projects</h3>
        <div class="table-responsive projects_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>Owner Name</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody class="actProjectRows">
                    @foreach (var item in Model.projects.Where(x => x.IsOwner != true))
                    {
                        <tr projectId="@item.ProjectId">
                            <td>@item.ProjectId</td>
                            <td>@item.ProjectName</td>
                            <td>@item.OwnerName</td>
                            <td>@item.Phone</td>
                            <td class="btn_td">
                                <button class="btn btn-primary printProject" projectid="@item.ProjectId"><i class="fa fa-print"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $(".printProject").on('click', function () {
                var projectId = $(this).attr("projectid");

                $.getJSON('/Reports/ProjectDetails/' + projectId, '', function (project) {
                    ProjectReport(project);
                });
            });

            $(".actProjectRows").on("click", "td", function () {

                var td = $(this);

                if (!td.hasClass('btn_td')) {
                    var projectId = td.closest('tr').attr('projectid');
                    window.location = "/Projects/Details/" + projectId;
                }
            });
        });
    </script>
}