﻿@model SpecSheetsCore.Models.LoggedInViewModels.ProjectViewModel

@{
		bool IsAllowedToEditProject = (Model.project.IsOwner || (Model.project.ProjectLocationTradeId == 0 && Model.project.PermissionLevel == 2));
}

<style type="text/css">
	.margin-left {
		margin-left: 10px;
	}
    *{
        box-sizing: border-box
    }
   
</style>

<div class="heading_sec project-header clearfix">
	<h2>@Model.project.ProjectName...</h2>


	@if (IsAllowedToEditProject)
	{
			<button id="btn-inviteuser" class="btn btn-primary pull-right margin-left" projectid="@Model.project.ProjectId">Invite User</button>
			<button class="btn btn-primary pull-right margin-left" onclick="window.location.href = '@Url.Action("Index", "InviteUser")?ProjectId=@Model.project.ProjectId';">Invited Users</button>
	}

	<button class="btn btn-primary pull-right margin-left printProject" projectid="@Model.project.ProjectId">Print</button>

	@if (Model.project.IsOwner)
	{
			<button class="btn btn-danger pull-right actDeleteProject" projectid="@Model.project.ProjectId">Delete Project</button>
	}
</div>

<form id="formProject" method="post" role="form" asp-action="Add" asp-controller="Projects" class="project-details">
    <div class="clearfix">
        <h3 class="heading_yellow pull-left">Project Info</h3>

        @if (IsAllowedToEditProject)
        {
            <button class="btn btn-primary btn-edit actEdit" type="button"><i class="fa fa-pencil"></i></button>
        }

        @Html.HiddenFor(x => x.project.ProjectId)
    </div>

	<div class="row form_fields">
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<label>Project Name</label>
			@Html.TextBoxFor(x => x.project.ProjectName, new { disabled = "disabled", placeholder = "Project Name", @class = "form-control disabled" })
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<label>Email</label>
			@Html.TextBoxFor(x => x.project.Email, new { disabled = "disabled", placeholder = "Email", @class = "form-control disabled" })
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<div class="row">
				<a id="btn-uploadTagNewFile" class="btn btn-primary pull-right margin-left" href="@Url.Action("UploadTagImages", "Projects" , new { ProjectId=@Model.project.ProjectId})"> Upload-Tag New File</a>

				@*<input id="btn-uploadTagNewFile" class="btn btn-primary pull-right margin-left" type="button" onclick="btnUploadTags();" href="@Url.Action("UploadTagImages", "Projects" , new { ProjectId=@Model.project.ProjectId})"/>Upload-Tag New File*@
			</div>
			<br />
			<div class="row">
				<button id="btn-uploadTagNewFile" class="btn btn-primary pull-right margin-left">View All</button>
			</div>
					
		</div>


	</div>
	<div class="row form_fields">
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<label>Owner Name</label>
			@Html.TextBoxFor(x => x.project.OwnerName, new { disabled = "disabled", placeholder = "Owner Name", @class = "form-control disabled" })
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<label>City</label>
			@Html.TextBoxFor(x => x.project.City, new { disabled = "disabled", placeholder = "City", @class = "form-control disabled" })
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<div class="row">
				<button id="btn-uploadTagNewFile" class="btn btn-primary pull-right margin-left">View Material Docs</button>
			</div>
			<br />
            <div class="row">
                <a id="btn-uploadTagNewFile" class="btn btn-primary pull-right margin-left" href="@Url.Action("UploadProjectDocuments", "Projects" , new { ProjectId=@Model.project.ProjectId})"> Upload-View Project Docs</a>
            </div>

		</div>
	</div>
	<div class="row form_fields">
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<label>State</label>
			@Html.TextBoxFor(x => x.project.State, new { disabled = "disabled", placeholder = "State", @class = "form-control disabled" })
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<label>Zip</label>
			@Html.TextBoxFor(x => x.project.Zip, new { disabled = "disabled", placeholder = "Zip", @class = "form-control disabled" })
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 form-group">
			<div class="row">
				<button id="btn-uploadTagNewFile" class="btn btn-primary pull-right margin-left">View Communication</button>
			</div>
			<br />
		</div>
	</div>
    <div class="row form_fields">
        <div class="col-md-4 col-sm-4 col-xs-4 form-group">
            <label>Address</label>
            @Html.TextBoxFor(x => x.project.Address, new { disabled = "disabled", placeholder = "Address", @class = "form-control disabled" })
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 form-group">
            <label>Phone</label>
            @Html.TextBoxFor(x => x.project.Phone, new { disabled = "disabled", placeholder = "Phone", @class = "form-control disabled" })
        </div>
    </div>   

    @if (IsAllowedToEditProject)
    {
        <button type="submit" class="btn btn-default actDisabled" style="display: none;">Submit</button>
        <button type="button" class="btn btn-default actDisabled actCancelEdit" style="display: none;">Cancel</button>
    }

</form>

<div class="row">
	<div class="col-md-6 col-sm-6 location_head">
		<h3 class="heading_yellow">My Locations</h3>

		@if (IsAllowedToEditProject)
		{
				<a href="~/Locations/Add/@Model.project.ProjectId" class="btn btn-primary">Add Location</a>
		}
	</div>
	<div class="col-md-6 col-sm-6">
	</div>
</div>

<div class="modal inmodal" id="userInviteDialog" tabindex="-1" role="dialog" aria-hidden="true" data-LocationTypeId="0">
	<div class="modal-dialog">
		<div class="modal-content animated bounceInRight">
			@using (Html.BeginForm("InviteProjectUser", "InviteUser", new { @class = "form-horizontal", role = "form" }))
			{
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Invite User</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Name:</label>
					<input id="txtName" name="UserName" class="form-control" type="text" />
				</div>
				<div class="form-group">
					<label>Email:</label>
					<input id="txtEmail" name="Email" class="form-control" type="email" />
				</div>
				<div class="form-group">
					<label>Trade:</label>
					@Html.DropDownList("Trades", null, new { @class = "form-control" })
					@Html.Hidden("ProjectId", Model.project.ProjectId)
				</div>
				<div class="form-group">
					<label>Permission:</label>
					@Html.DropDownList("PermissionId", new List<SelectListItem>
						() { new SelectListItem() { Text = "Read-only", Value = "1" }, new SelectListItem() { Text = "Update", Value = "2" } }, new { @class = "form-control" })
					@Html.Hidden("formName", "ProjectDetails")
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary actSaveTrade">Send Invite</button>
			</div>
			}
		</div>
	</div>
</div>

<ul class="locations_saved">
	@{
			var tradetypesIds = Model.project.Locations.Select(x => x.TypeId).Distinct().ToList();
	}

	@foreach (var tradeTypeId in tradetypesIds)
	{
		var relevantLocations = Model.project.Locations.Where(x => x.TypeId == tradeTypeId).ToList();

	<li>
		<h4><i class="icon_kitchen"></i> @Model.project.Locations.FirstOrDefault(x=> x.TypeId == tradeTypeId).Type.Name</h4>
		<ul class="list">
			@foreach (var location in relevantLocations)
					{
					<li><a href="~/Locations/Details/@location.LocationId">@location.LocationName</a></li>
					}
		</ul>
	</li>
	}
</ul>


@section Scripts{

	<script type="text/javascript">
		$(document).ready(function () {
			@*$("#btn-uploadTagNewFile").on('click', function () {
				var $this = $(this);
				$.get("@Url.Action("UploadTagImages", "Projects")?ProjectId=" + @Model.project.ProjectId, function (data, status) {
				});

			});*@
			$(".printProject").on('click', function () {

				var projectId = $(this).attr("projectid");

				$.getJSON('/Reports/ProjectDetailPage/' + projectId, '', function (project) {
					ProjectPageReport(project);
				});
			});
			
			$("#btnUploadTags").on('click', function () {
				var projectId =@Model.project.ProjectId;
				$.getJSON('/Projects/UploadTagImages/' + projectId, '', function (project) {
					ProjectPageReport(project);
				});
			});
			$(".printTradesByLocations").on('click', function () {

				var projectId = $(this).attr("projectid");
				var tradeId = $("#selectedTrade").val();

				$.getJSON('/Reports/LocationByProjectTrades/' + projectId + '?tradeId=' + tradeId, '', function (project) {
					var tradeId = $("#selectedTrade").val();
					MaterialsBySpecificTradeByLocation(project, tradeId);
				});
			});

			$('.actEdit').on('click', function () {

				$('#formProject input, #formProject select').each(function (key, value) {

					var $control = $(value);
					var cotrolType = $control.attr('type');
					if (cotrolType && cotrolType != 'hidden') {
						$control.removeClass('disabled');
						$control.removeAttr('disabled');
					}
				});

				$('.actDisabled').show();
			});

			$('.actCancelEdit').on('click', function () {

				$('.actDisabled').hide();

				$('#formProject input, #formProject select').each(function (key, value) {

					var $control = $(value);
					var cotrolType = $control.attr('type');
					if (cotrolType && cotrolType != 'hidden') {
						$control.addClass('disabled');
						$control.attr('disabled', 'disabled');
					}
				});
			});

			$("#btn-inviteuser").on('click', function () {
				$('#userInviteDialog').modal();
			});

			$(".actDeleteProject").on('click', function () {

				var $this = $(this);
				var projectId = $this.attr('projectId');

				var IsConfirmed = confirm('Are you sure you want to Delete this Project?');

				if (IsConfirmed) {

					var form = $('<form>', {
						'action': '@Url.Action("DeleteProject", "Projects")?projectId=' + projectId
					})
					 .append($('<input>', { 'name': 'projectId', 'value': '' + projectId + '', 'type': 'hidden' }))
							 .appendTo('body').submit();
				}
			});
        });
	</script>
}
