﻿@model SpecSheetsCore.Models.LoggedInViewModels.LocationViewModel
<style>
	.img-input {
		-moz-box-shadow: #4db54d;
		-webkit-box-shadow: #4db54d;
		box-shadow: #4db54d;
		background: #4db54d;
		background: #4db54d;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
		background-color: #4db54d;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #379437;
		display: inline-block;
		color: #ffffff;
		font-family: arial;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 14px;
		text-decoration: none;
		text-shadow: 1px 1px 0px #379437;
		cursor: pointer;
	}
	.selected-img-holder {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 120px;
		height: 120px;
		overflow: hidden;
	}

	.selected-img {
		width: 120px;
		height: 120px;
		border: 1px solid #c5c5c5;
	}

	.selected-img-holder input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		right: 0px;
		top: 0px;
	}

	.checkmark {
		position: absolute;
		height: 25px;
		width: 25px;
		right: 0px;
		top: 0px;
	}

	.selected-img-holder:hover input ~ .checkmark {
		background-color: #c5c5c5;
	}

	.selected-img-holder input:checked ~ .checkmark {
		background-color: #ffab00;
		right: -2px;
		width: 27px;
	}

	.selected-img-holder input:checked ~ .selected-img {
		border: 1px solid #ffab00;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	.selected-img-holder input:checked ~ .checkmark:after {
		display: block;
	}

	.selected-img-holder .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.upload-addTag {
		margin-bottom: 15px;
		margin-top: -20px;
	}

	/*********************/
	.upload_form_cont {
		background: -moz-linear-gradient(#ffffff, #f2f2f2);
		background: -ms-linear-gradient(#ffffff, #f2f2f2);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
		background: -webkit-linear-gradient(#ffffff, #f2f2f2);
		background: -o-linear-gradient(#ffffff, #f2f2f2);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
		background: linear-gradient(#ffffff, #f2f2f2);
		color: #000;
		overflow: hidden;
	}

	#upload_form {
		float: left;
		padding: 20px;
		width: 700px;
	}

	#preview {
		background-color: #fff;
		display: block;
		float: right;
		width: 200px;
	}

	#upload_form > div {
		margin-bottom: 10px;
	}

	#speed, #remaining {
		float: left;
		width: 100px;
	}

	#b_transfered {
		float: right;
		text-align: right;
	}

	.clear_both {
		clear: both;
	}






	#progress_info {
		font-size: 10pt;
	}

	#fileinfo, #error, #error2, #abort, #warnsize {
		color: #aaa;
		display: none;
		font-size: 10pt;
		font-style: italic;
		margin-top: 10px;
	}

	#progress {
		border: 1px solid #ccc;
		display: none;
		float: left;
		height: 14px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		-webkit-border-radius: 10px;
		background: -moz-linear-gradient(#66cc00, #4b9500);
		background: -ms-linear-gradient(#66cc00, #4b9500);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc00), color-stop(100%, #4b9500));
		background: -webkit-linear-gradient(#66cc00, #4b9500);
		background: -o-linear-gradient(#66cc00, #4b9500);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500')";
		background: linear-gradient(#66cc00, #4b9500);
	}

	#progress_percent {
		float: right;
	}

	#upload_response {
	}
</style>
<div class="container">

	@Html.HiddenFor(x => x.ProjectId)
    <div class="heading_sec clearfix">
        <h2 style="margin-bottom:10px;">Select File(s) to Tag</h2>
        <input id="btn-uploadTagNewFile" class="btn btn-success margin-left pull-right" type="button" disabled value="Tag Files" onclick="btnOpnModelPopUpTagImgDetails();" />
    </div>
	<table class="table-responsive" style="border:0px !important;">
		<tr>
			<td>
				<div id="divImg">
					<div id="scrolly">
						<table class="table-responsive" style="border:0px !important;">
							<tr>
								<td>

									<table width="100%" cellpadding="5" cellspacing="5">
										<tr>
											<td>
                                                <div id="dvLoading" style="display:none;margin-left:200px">
                                                    <img src="~/img/ajax-loader.gif" alt="" />
                                                </div>

												@foreach (var item in Model.projectImages)
												{
													<div class="pull-left" style="margin-right:10px;margin-bottom:5px;">
														@if (item.Image != null)
														{
															string imageBase64 = Convert.ToBase64String(item.Image);
															string imagescr = string.Format("data:image;base64,{0}", imageBase64);
															<label class="selected-img-holder">
																<input class='chkSelectedImg'  type='checkbox' id='chkSelectedImg@(item.Id)' name='selectImage'>

																<span class="checkmark"></span>
																<img src="@imagescr" id="imgpreview@(item.Id)" class="selected-img" />
															</label>

														}
													</div>
												}
											</td>

										</tr>
									</table>
								</td>
							</tr>

						</table>
					</div>

				</div>
			</td>
		</tr>
	</table>

	<br />
	<br />
	<div class="add-image">
		@if (Model.location != null)
		{
			@if (Model.location.LocationId > 0)
			{
				@if (Model.location.Trades != null && Model.location.Trades.Count > 0)
				{
					@foreach (var trade in Model.location.Trades)
					{

						@foreach (var material in trade.Materials)
						{
							<div id="dvimage-@material.MaterialId" style="margin-left:20px;display:none;">
								<div class="tab-content" style="width:100%;">
									<div id="uploadImage-@material.MaterialId" class="tab-pane fade in active">
										<br />
										<span style="margin-left:10px;">*</span>
										<input type="file" name="Image" id="Image-@material.MaterialId" accept="image/png,image/jpeg,image/gif" style="margin-left:5px" />
										<img id="displayImage-@material.MaterialId" src="#" style="height:0px;width:0px;margin-left:5px;visibility:hidden" />
										@*<img id="displayImage-@material.MaterialId" src="#" style="height:0px;width:0px;margin-left:5px;display:none;" /><br />*@
										@*<div class="display-photo" style="height:100px;width:100px;"></div>*@
										@*<input class="hidden-input" type="text" id="projectId" name="projectId" value="@Model.location.ProjectId" />
											<input class="hidden-input" type="text" id="tradeId" name="tradeId" value="@trade.TradeId" />
											<input class="hidden-input" type="text" id="materialId" name="materialId" value="@material.MaterialId" />
											<input class="hidden-input" type="text" id="locationId" name="locationId" value="@Model.location.LocationId" /><br />*@

										<input class="bt-mi-submit btn btn-success" multiple type="submit" value="Upload" style="margin-left:5px" />
										<br /><br />
									</div>

									<div id="existingImage-@material.MaterialId" class="tab-pane fade">

									</div>
								</div>
							</div>
						}
					}
				}
			}
		}

		<div class="row">
			@*<div class="col-md-12 upload-addTag">
				<input id="btn-uploadTagNewFile" class="btn btn-success margin-left pull-right" type="button" value="Tag Files" onclick="btnOpnModelPopUpTagImgDetails();" />
			</div>*@
			<div class="col-md-12">
				<div style="border:1px dashed #666;padding:20px;background:#fff; text-align:center;">
					<h2>Add Images</h2>
					<input type="file" name="Image"  class="img-input" id="btnUpload" onclick="" multiple accept="image/png,image/jpeg,image/gif" style="display:inline !important;margin-top: 10px;" />
					<div class="display-photo"></div>
					<br /><br />
					<input class="bt-mi-submit btn btn-success" onclick="btnAddImgSubmit();" type="button"  value="Upload" style="margin-top: 0px;" />
					<div id="fileinfo">
						<div id="filename"></div>
						<div id="filesize"></div>
						<div id="filetype"></div>
						<div id="filedim"></div>
					</div>
					<div id="error">You should select valid image files only!</div>
					<div id="error2">An error occurred while uploading the file</div>
					<div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
					<div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div>

					<div id="progress_info" style="margin: 0px 250px !important;">
						<div id="progress" style="width:100% !important; margin-top:18px !important;"></div>
						<div id="progress_percent">&nbsp;</div>
						<div class="clear_both"></div>
						<div>
							<div id="speed">&nbsp;</div>
							<div id="remaining">&nbsp;</div>
							<div id="b_transfered">&nbsp;</div>
							<div class="clear_both"></div>
						</div>
						<div id="upload_response"></div>
					</div>
					@*<div class="progress" style="width: 50%;margin: 30px auto 12px auto;height: 5px;">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;background-color: #5f5f5f;">
							</div>
						</div>
						<p>60% Complete</p>*@

				</div>

			</div>

		</div>


	</div>
</div>

</div>
@*<div class="modal fade" id="mdlAddSelectedImageTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

				</div>
				<div class="heading_sec  clearfix">
				</div>
				<div class="modal-bodyImage">

				</div>

			</div>
		</div>
	</div>*@
<div class="modal fade" id="mdlAddSelectedImageTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background:#fafafa;border-radius: 5px 5px 0px 0px;border-bottom:1px solid #f2f2f2;">
				<h4 style="margin:0px 0px -22px 0px;">Selected File(s) to Tag</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


			</div>
			<div class="modal-bodyImage" style="padding: 0px 20px 25px 20px;">

			</div>


		</div>
	</div>
</div>


@section Scripts{
	<script type="text/javascript">

		$(document).ready(function () {
			btnLTMTag();
        });
        var imgSelected= [];
        $(document).on('click', '.chkSelectedImg', function () {
            debugger;
            var Id = this.value;
            //check if checkbox is checked
            if ($(this).is(':checked')) {
                imgSelected.push(Id);
                

            } else {
                imgSelected.splice($.inArray(Id, imgSelected), 1);

               
            }

            if (imgSelected.length == 0) {
                $('#btn-uploadTagNewFile').attr('disabled', true); //disable input
            }
            else {
                $('#btn-uploadTagNewFile').removeAttr('disabled'); //enable input
            }
           
                
                           

        });
		 $(document).on('change', '#ddlLocationsBind', function () {
            var Id = this.value;
            var LocationName = $("#ddlLocationsBind option:selected").text();
            $('#ddlTradesBind').empty();
            //$("#dvSaveImageTag").show();
             $.ajax({
                url: '@Url.Action("GetTradesByLocationId", "Locations")',
                 type: 'GET',
                 data: { Id: Id },
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    $('#ddlTradesBind').empty();
                    $('#ddlTradesMaterialBind').empty();
                    //$("#dvSelectedTagsBind").empty();
                    if (jsonArray.length > 0) {
                        for (var i = 0; i < jsonArray.length; i++) {
                            $('#ddlTradesBind').append('<option value="' + jsonArray[i].tradeId + '" text="' + jsonArray[i].tradeName + '">' +
                                jsonArray[i].tradeName + '</option>');
                        }
                        $("#ddlTradesBind").prepend("<option value='0' selected='selected'>Select Trade</option>");
                    }
                    var HTML = "";
                }
            });

		});
		 $(document).on('change', '#ddlTradesBind', function () {
            var Id = this.value;
            var TradeName = $("#ddlTradesBind option:selected").text();
             $.ajax({
                url: '@Url.Action("GetMaterialsByTradeId", "Locations")',
                 type: 'GET',
                 data: { Id: Id },
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    $('#ddlTradesMaterialBind').empty();
                    if (jsonArray.length > 0) {
                        for (var i = 0; i < jsonArray.length; i++) {
                            $('#ddlTradesMaterialBind').append('<option value="' + jsonArray[i].materialId + '" text="' + jsonArray[i].materialName + '">'+ jsonArray[i].materialName +'</option>');
                        }
                        $("#ddlTradesMaterialBind").prepend("<option value='0' selected='selected'>Select Material</option>");
                    }
                }
            });
        });
		$(document).on('change', '#ddlTradesMaterialBind', function () {
			var selectedValues = $(this).val();
			var MaterialName = $("#ddlTradesMaterialBind option:selected").text();
		});
		//Function to tab selected image and open model popup window
		function btnOpnModelPopUpTagImgDetails() {
			$(".modal-bodyImage").empty();
			var arr = [];
			@foreach (var item in Model.projectImages)
			{
				var z= item.Id;
			}
			console.log(arr);
			var selectedCkboxId = $(".chkSelectedImg");
			console.log(selectedCkboxId);
			for (var i = 0; i < selectedCkboxId.length; i++) {
				if (selectedCkboxId[i].checked == true)
				{
					var imgId = selectedCkboxId[i].id.split("chkSelectedImg");
					var NumId = Number(imgId[1]);
					arr.push(NumId);
				}
			}

			var projectId= @Model.ProjectId;
			$.ajax({
				type: "POST",
				url: "/Projects/GetCheckedImageSelected",
				data: { Ids: arr, ProjectId: projectId},
				dataType: "json",
				success: function (data) {
					var jsonArray = JSON.parse(JSON.stringify(data));
					var HTML = "";
                    HTML += "<div id='scrolly' style='overflow-x:auto;'>";
					HTML += "<table>";
					HTML += "<tr>";
					for (var i = 0; i < jsonArray.projectImages.length; i++) {
						HTML += "<td>";
						HTML += "<table>";

						if (jsonArray.projectImages[i].image !== null) {
                            HTML += "<tr><td>" + ' <label class="selected-img-holder" style="margin:10px 10px 10px 0px;"><img class="selected-img" src="data:image/jpg;base64,' + jsonArray.projectImages[i].image + '"/> </label>' + "</td></tr>";


						}
						HTML += "</tr>";
						HTML += "<tr>";
						HTML += "</tr>";
						HTML += "</table>";
						HTML += "</td>";
					}
					HTML += "</tr>";
					HTML += "</table>";

					HTML += "</div>";
					HTML += "<div>";
					HTML += "<br/>";
                    HTML += "<div class='row form_fields'><div class='col-md-12 col-sm-12 form-group' style='margin-bottom:9px;margin-top:10px;'><span>Add Tag</span></div></div>";
                    HTML += "<div class='row form_fields'><div id='dvEditTag'><div class='col-md-4 col-sm-4 col-xs-12' style='padding-right:5px;'><select id='ddlLocationsBind' class='form-control'></select></div><div class='col-md-4 col-sm-4 col-xs-12' style='padding:0px 2px;'><select id='ddlTradesBind' class='form-control'></select></div><div class='col-md-4 col-sm-4 col-xs-12' style='padding-left:5px;'> <select id='ddlTradesMaterialBind' class='form-control'></select></div></div></div>";

                    HTML += "<div id='accordion1'><div><div class='row' style='margin-top:22px;margin-bottom:9px;'><div class='col-md-12 col-sm-12'><span>Add Note</span><span id='EditMsg' style='display: none; color: red;margin-left:10px;'>Please Add a Note</span></div></div>";
                    HTML += "<div id='dvEditNotes'><input class='form-control' type='text' id='txtNotesFullImage'><br /><div class='alert alert-success' style='display:none'>Notes Updated Successfully</div><button style='margin-top:9px;' type='button' id='btnSubmitDetails' class='btn btn-primary' onclick='submitMultipleSelectionChanges();'>Save changes</button></div></div ></div>";
					HTML += "</div>";

					$("#mdlAddSelectedImageTag .modal-bodyImage").append(HTML);
					$('#mdlAddSelectedImageTag').modal('show');
					btnLTMTag();

				}
			});
		}

		function submitMultipleSelectionChanges(ids) {
			var projectId = @Model.ProjectId;
			var locationName = $("#ddlLocationsBind option:selected").text();
			var locationId = $('#ddlLocationsBind').val();
			var tradeName = $("#ddlTradesBind option:selected").text();
			var tradeId = $('#ddlTradesBind').val();
			var materialName = $("#ddlTradesMaterialBind option:selected").text();
			var materialId = $('#ddlTradesMaterialBind').val();

			var notesText = $('#txtNotesFullImage').val();
            if (notesText != '' && materialId != null) {
                console.log(ids);
                var arrSelectedImgIds = [];
                var selectedCkboxId = document.getElementsByClassName("chkSelectedImg");
                for (var i = 0; i < selectedCkboxId.length; i++) {
                    if (selectedCkboxId[i].checked == true) {
                        var imgId = selectedCkboxId[i].id.split("chkSelectedImg");
                        var NumId = Number(imgId[1]);
                        arrSelectedImgIds.push(NumId);
                    }
                }
                var formData = new FormData();
                formData.append("projectId", projectId);
                formData.append("locationId", locationId);
                formData.append("tradeId", tradeId);
                formData.append("materialId", materialId);
                formData.append("arrSelectedImgIds", arrSelectedImgIds);
                formData.append("notesText", notesText);
                console.log(formData);
                $.ajax({
                    type: "POST",
                    url: "/Projects/UpdateMultipleImagesNotesTags",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if (data === true)
                            location = location.href;
                        else
                            location = location.href;
                    }
                });
                $('#mdlAddSelectedImageTag').modal('hide');
            }
            else {
                $('#EditMsg').show();
                //alert('Material and Notes are mandate;
            }
			//$('#EditMsg').show();
			


		}


		//Function to show locaton material details
		 function btnLTMTag() {
            $("#dvEditTag").show();
            $('#ddlLocationsBind').empty();
            var Id = @Model.ProjectId;
             $.ajax({
                url: '@Url.Action("GetLocationByProjectId", "Locations")',
                 type: 'GET',
                 data: { Id: Id },
                success: function (data) {
                    var jsonArray = JSON.parse(JSON.stringify(data));
                    console.log(jsonArray);
                    if (jsonArray.length > 0) {
                        for (var i = 0; i < jsonArray.length; i++) {
                            $('#ddlLocationsBind').append('<option value="' + jsonArray[i].locationId + '">' +
                                jsonArray[i].locationName + '</option>');
                        }
                        $("#ddlLocationsBind").prepend("<option value='0' selected='selected'>Select Location</option>");
                    }
                }
            });
        }
		//Function for Save Images created
        function btnAddImgSubmit() {

            if (document.getElementById("btnUpload").files.length != 0) {

               // $("#progress_info").Show();
               
                //**************************
                // cleanup all temp states
                iPreviousBytesLoaded = 0;
                document.getElementById('upload_response').style.display = 'none';
                document.getElementById('error').style.display = 'none';
                document.getElementById('error2').style.display = 'none';
                document.getElementById('abort').style.display = 'none';
                document.getElementById('warnsize').style.display = 'none';
                document.getElementById('progress_percent').innerHTML = '';
                var oProgress = document.getElementById('progress');
                oProgress.style.display = 'block';
                oProgress.style.width = '0px';
                 
                // get form data for POSTing
                //var vFD = document.getElementById('upload_form').getFormData(); // for FF3
                var vFD = new FormData(document.getElementById('upload_form'));

                // create XMLHttpRequest object, adding few event listeners, and POSTing our data
                var oXHR = new XMLHttpRequest();
                oXHR.upload.addEventListener('progress', uploadProgress, false);
                oXHR.addEventListener('load', uploadFinish, false);
                oXHR.addEventListener('error', uploadError, false);
                oXHR.addEventListener('abort', uploadAbort, false);
                oXHR.open('POST', 'upload.php');
                oXHR.send(vFD);

                // set inner timer
                oTimer = setInterval(doInnerUpdates, 300);


                //***************************

                var file = $("#btnUpload")[0];
                var formData = new FormData();
                var projectId = @Model.ProjectId;
                console.log(document.getElementById("btnUpload").files.length);
                for (var i = 0; i < document.getElementById("btnUpload").files.length; i++) {
                    var file = document.getElementById("btnUpload").files[i];
                    formData.append("Image", file);
                }
                formData.append("projectId", projectId);
                formData.append("projectId", projectId);
                $("#dvLoading").show();
                $.ajax({
                    type: "POST",
                    url: "/Projects/AddMultipleImages",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        var i = data;
                        var jsonArray = JSON.parse(JSON.stringify(data));
                        if (jsonArray != null) {
                            console.log(jsonArray);
                            $("#divImg").empty();
                            var HTML = "";
                            HTML += "<div id='scrolly'>";
                            HTML += "<table class='table-responsive' >";
                            HTML += "<tr>";
                            HTML += "<table width='100%' cellpadding='5' cellspacing='5'>";
                            HTML += "<tr>";
                            HTML += "<td>";
                            for (var i = 0; i < jsonArray.projectImages.length; i++) {
                                console.log(jsonArray.projectImages[i].id);
                                HTML += "<div class='pull-left' style='margin-right:10px;margin-bottom:5px;'>"
                                HTML += "<label class='selected-img-holder'>";
                                HTML += "<input class='chkSelectedImg' type='checkbox' id='chkSelectedImg" + jsonArray.projectImages[i].id + "' name='selectImage'>";
                                HTML += "<span class='checkmark'></span>";
                                if (jsonArray.projectImages[i].image != null) {
                                    HTML += "<img class='selected-img' src='data:image/jpg;base64," + jsonArray.projectImages[i].image + "'/>";
                                }
                                HTML += " </label>";

                                HTML += "</div>";
                            }
                            HTML += "</td>";
                            HTML += "</tr>";
                            HTML += "</table>";
                            HTML += "</td>";
                            HTML += "</tr>";
                            HTML += "</table>";
                            HTML += "</div>";
                            $("#divImg").append(HTML);
                            //code change by shilpi to clear upload details
                            $("#btnUpload").replaceWith($("#btnUpload").val('').clone(true));

                        }


                    }
                });
                document.getElementById('progress_percent').innerHTML = '';
                document.getElementById('b_transfered').innerHTML = '';
                $("#dvLoading").hide();
               
                //$("#progress_percent").css('display','none');
                //$("#b_transfered").css('display','none');
            }
            else {
                alert('Please select an image to upload.');
            }
		}




		var iBytesUploaded = 0;
		var iBytesTotal = 0;
		var iPreviousBytesLoaded = 0;
		var iMaxFilesize = 1048576; // 1MB
		var oTimer = 0;
		var sResultFileSize = '';

		function secondsToTime(secs) { // we will use this function to convert seconds in normal time format
			var hr = Math.floor(secs / 3600);
			var min = Math.floor((secs - (hr * 3600)) / 60);
			var sec = Math.floor(secs - (hr * 3600) - (min * 60));

			if (hr < 10) { hr = "0" + hr; }
			if (min < 10) { min = "0" + min; }
			if (sec < 10) { sec = "0" + sec; }
			if (hr) { hr = "00"; }
			return hr + ':' + min + ':' + sec;
		};

		function bytesToSize(bytes) {
			var sizes = ['Bytes', 'KB', 'MB'];
			if (bytes == 0) return 'n/a';
			var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
			return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
		};

		function fileSelected() {

			// hide different warnings
			document.getElementById('upload_response').style.display = 'none';
			document.getElementById('error').style.display = 'none';
			document.getElementById('error2').style.display = 'none';
			document.getElementById('abort').style.display = 'none';
			document.getElementById('warnsize').style.display = 'none';

			// get selected file element
			var oFile = document.getElementById('image_file').files[0];

			// filter for image files
			var rFilter = /^(image\/bmp|image\/gif|image\/jpeg|image\/png|image\/tiff)$/i;
			if (!rFilter.test(oFile.type)) {
				document.getElementById('error').style.display = 'block';
				return;
			}

			// little test for filesize
			if (oFile.size > iMaxFilesize) {
				document.getElementById('warnsize').style.display = 'block';
				return;
			}

			// get preview element
			var oImage = document.getElementById('preview');

			// prepare HTML5 FileReader
			var oReader = new FileReader();
			oReader.onload = function (e) {

				// e.target.result contains the DataURL which we will use as a source of the image
				oImage.src = e.target.result;

				oImage.onload = function () { // binding onload event

					// we are going to display some custom image information here
					sResultFileSize = bytesToSize(oFile.size);
					document.getElementById('fileinfo').style.display = 'block';
					document.getElementById('filename').innerHTML = 'Name: ' + oFile.name;
					document.getElementById('filesize').innerHTML = 'Size: ' + sResultFileSize;
					document.getElementById('filetype').innerHTML = 'Type: ' + oFile.type;
					document.getElementById('filedim').innerHTML = 'Dimension: ' + oImage.naturalWidth + ' x ' + oImage.naturalHeight;
				};
			};

			// read selected file as DataURL
			oReader.readAsDataURL(oFile);
		}


		function doInnerUpdates() { // we will use this function to display upload speed
			var iCB = iBytesUploaded;
			var iDiff = iCB - iPreviousBytesLoaded;

			// if nothing new loaded - exit
			if (iDiff == 0)
				return;

			iPreviousBytesLoaded = iCB;
			iDiff = iDiff * 2;
			var iBytesRem = iBytesTotal - iPreviousBytesLoaded;
			var secondsRemaining = iBytesRem / iDiff;

			// update speed info
			var iSpeed = iDiff.toString() + 'B/s';
			if (iDiff > 1024 * 1024) {
				iSpeed = (Math.round(iDiff * 100 / (1024 * 1024)) / 100).toString() + 'MB/s';
			} else if (iDiff > 1024) {
				iSpeed = (Math.round(iDiff * 100 / 1024) / 100).toString() + 'KB/s';
			}

			document.getElementById('speed').innerHTML = iSpeed;
			document.getElementById('remaining').innerHTML = '| ' + secondsToTime(secondsRemaining);
		}

		function uploadProgress(e) { // upload process in progress
			if (e.lengthComputable) {
				iBytesUploaded = e.loaded;
				iBytesTotal = e.total;
				var iPercentComplete = Math.round(e.loaded * 100 / e.total);
				var iBytesTransfered = bytesToSize(iBytesUploaded);

				document.getElementById('progress_percent').innerHTML = iPercentComplete.toString() + '%';
				document.getElementById('progress').style.width = (iPercentComplete * 4).toString() + 'px';
				document.getElementById('b_transfered').innerHTML = iBytesTransfered;
				if (iPercentComplete == 100) {
					var oUploadResponse = document.getElementById('upload_response');
					oUploadResponse.innerHTML = '<h1>Please wait...processing</h1>';
					oUploadResponse.style.display = 'block';
				}
			} else {
				document.getElementById('progress').innerHTML = 'unable to compute';
			}
		}

		function uploadFinish(e) { // upload successfully finished
			var oUploadResponse = document.getElementById('upload_response');
			oUploadResponse.innerHTML = e.target.responseText;
			oUploadResponse.style.display = 'block';

			document.getElementById('progress_percent').innerHTML = '100%';
			document.getElementById('progress').style.width = '100%';
			document.getElementById('filesize').innerHTML = sResultFileSize;
			//document.getElementById('remaining').innerHTML = '';

            clearInterval(oTimer);
           // $("#progress_info").css('display', 'none');
		}

		function uploadError(e) { // upload error
			document.getElementById('error2').style.display = 'block';
			clearInterval(oTimer);
		}

		function uploadAbort(e) { // upload abort
			document.getElementById('abort').style.display = 'block';
			clearInterval(oTimer);
		}

	</script>
}