﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SpecSheets - @ViewData["Title"]</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="~/css/custom.css" type="text/css">
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
					asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
					asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

		<link href='https://fonts.googleapis.com/css?family=Roboto:600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="~/css/custom.css" type="text/css">
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>

</head>
<body>

	<div id="wrapper" class="clearfix">
		<header class="navbar-fixed-top">
			<div class="container-fluid">
				<a href="#menu-toggle" id="menu-toggle" class="slidePanel_btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</a>
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
				<div class="right_btns nav-rbtns">
					<a href="/Reports"><i class="fa fa-print"></i></a>
					<a asp-area="" asp-controller="Account" asp-action="Information" title="Manage"><i class="fa fa-user fa-fw"></i> </a>
				</div>
			</div>
		</header>
		<div id="sidebar-wrapper">
			<ul>
				<li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-fw"></i> Home</a></li>
				<li><a asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa fa-file fa-fw"></i> Projects</a></li>
				<li><a asp-area="" asp-controller="Reports" asp-action="Index"><i class="fa fa-file fa-fw"></i> Print</a></li>
				<li><a asp-area="" asp-controller="Account" asp-action="Information"><i class="fa fa-user fa-fw"></i> Account Management</a></li>
				@*<li><a asp-area="Admin" asp-controller="Home" asp-action=""><i class="fa fa-user fa-fw"></i> Admin</a></li>*@
				@await Html.PartialAsync("_LoginPartial")
			</ul>
		</div>

		<section class="container">
			@RenderBody()
		</section>

	</div>
	<footer>©SpecSheets 2016 . All rights reserved.</footer>

	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/Moment/moment.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>

		<script src="~/lib/jspdf/dist/jspdf.min.js"></script>
		<script src="~/lib/jspdf/plugins/jspdf.plugin.autotable.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
						asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
						asp-fallback-test="window.jQuery">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
						asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
						asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>

		<script src="~/lib/jspdf/dist/jspdf.min.js"></script>
		<script src="~/lib/jspdf/plugins/jspdf.plugin.autotable.js"></script>
		<script src="~/lib/Moment/moment.min.js"></script>
		
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("scripts", required: false)

	<script>
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

</body>
</html>
