﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <li>
            @{ 
                var name = @UserManager.GetUserName(User);
                name = name.Length > 15 ? name.Substring(0, 12) + ".." : name;
            }
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" style="padding-left: 10px;">Hello @name!</a>
        </li>
        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
        </li>
    </form>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Signup">Sign Up</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
