﻿@{
		ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ViewBag.Error != null)
{
	<h3>Details are as follows:</h3>
	<p>@ViewBag.Error</p>
}
else
{
		<h3>Development Mode</h3>
		<p>
			Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
		</p>
		<p>
			<strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
		</p>
}